html{font-size: 10px;width: 100%;height: auto;}
body{color: #777;font-family: 微软雅黑;-webkit-appearance:none;-webkit-tap-highlight-color:rgba(0,0,0,0);overflow: hidden;width: 100%;height: 100%}
ul li{list-style: none}
*{margin:0;}
img{border: none;}
input{outline: none;-webkit-outline:none;}
/*司机引导页开始*/
@-webkit-keyframes hide{
	from{top:0;}
	to{top: -100%;}
}
#content{
	background-color: #f0f0f0;
	height: 100%;
	width: 100%;
}
.content{
	position: absolute;
	top: 0;
	left: 0;
}
.content-hide{
	-webkit-animation-name: hide;
  	-webkit-animation-duration: 0.3s;
  	-webkit-animation-iteration-count: 1;
  	-webkit-animation-timing-function: linear;
  	top: -100%;
}
#construct{
	position: absolute;
	width: 80%;
	top: 5%;
	left: 10%;
}
#construct img{
	width: 100%;
}
#botton{
	position: absolute;
	width: 80%;
	left: 10%;
	bottom: 5%;
	height: 50px;
	background-color: #ff8c03;
	color: #ffffff;
	font-size: 1.4rem;
	line-height: 50px;
	text-align: center;
	border-radius: 4px;
}
/*司机引导页结束*/
@-webkit-keyframes show{
	from{top:100%;}
	to{top: 0;}
}
#page-up{
	height: 100%;
	width: 100%;
}
.page-up{
	top: 100%;
	position: absolute;
}
.page-show{
	-webkit-animation-name: show;
  	-webkit-animation-duration: 0.3s;
  	-webkit-animation-iteration-count: 1;
  	-webkit-animation-timing-function: linear;
  	top: 0;
}
.btn-gray{background: rgba(246,166,70,0.6);color: #ffd49c}
#page-header{
	background: url("/static/activity/img-driver-recommend/page_login_background.jpg");
	background-repeat: no-repeat;   
	background-size: 100%;
	height: 70%;
	position: relative;
}

#page-footer{
	color: #878787;
	width: 100%;
	height: 28%;
	text-align: center;
	font-size: 1.4rem;
	padding-top: 2.0rem;
}
#page-footer .txt{
	margin-top: 10px;
}
#page-footer .bolder{
	color:#333;
	font-size: 2.1rem;
	font-weight: bold;
}
#page-dialog{
	position: absolute;
	left: 5%;
	top: 26%;
	width: 90%;
	margin: 0 auto;
	background: rgba(255,255,255,0.6);
	border-radius: .5rem;
	height: 55%;
}
#page-dialog input{border: none;background: transparent;margin-left: 0.5rem;width: 85%;font-size: 1.6rem;}
#page-dialog input::-webkit-input-placeholder{color: #fff;font-size: 1.4rem;}
#page-dialog .div-phone label,#page-dialog .div-phone input{display: inline-block;}
.lbl-ico-phone{
	background: url("/static/activity/img-driver-recommend/page_login_phone.png") no-repeat bottom;
	width: 1rem;height: 1.1rem;background-size: 80%;
}
.lbl-ico-validcode{
	background: url("/static/activity/img-driver-recommend/page_login_password.png") no-repeat bottom;
	width: 1rem;height: 1.1rem;background-size: 100%;display: inline-block;margin-left: .3rem;
}
.div-input-container,.div-input-validcode{ 
	width: 100%;
	text-align: center;
	padding-top: 2rem;
}
.div-validcode{width: 87%;margin: 0 auto;text-align: left;padding-left: 0.5rem;}
.div-validcode input,.div-phone input{color: #333;font-weight: bold;}
.div-input-validcode .underline{
	width: 87%;height: 0.3rem;border:1px solid #fff;border-top: none;margin: 0 auto;
}
.left{width: 60%;display: inline-block;}
.div-phone{height: 1.9rem;text-align: left;padding-left: 0.5rem;}
.btn-valid{margin-left: 0.5rem;display: inline-block;width: 25%;height: 3rem;line-height: 3rem;font-size: 1.4rem;text-align: center;border-radius: 0.5rem;color: #fff;}
.left .underline{
	width: 100%;
	height: 0.3rem;
	border: 1px solid #fff;
	border-top: none;
}
.nextstep{height: 3.5rem;line-height:3.5rem;border-radius: .5rem;font-size: 1.6rem;font-weight: bold;color: #fff;width: 88%;text-align: center;margin: 0 auto;margin-top: 2.0rem;}
#page-contact{
	width: 100%;
	position: absolute;
	top: 85%;
	text-align: center;
	font-size: 1.4rem;
	color: rgba(255,255,255,0.8);
}
#page-contact a{font-size: 1.4rem;text-decoration: none;}
#page-contact span{
	background: url("/static/activity/img-driver-recommend/ico_phone_normal.png") no-repeat bottom;
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background-size: 100%;
	margin-right: .5rem;
}
