@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2) {
	#page-grap, #page-changephone, #page-result {
		height: 510px !important;
		background-size: 100% 510px !important
	}
	#expection-result-wrap #btns-container {
		margin-top: 1.2rem
	}
	#grap-bubble-2 {
		margin-top: 0.7rem
	}
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2) {
	#page-grap, #page-changephone, #page-result {
		height: 512px;
		background-size: 100% 512px
	}
	#expection-result-wrap #btns-container {
		margin-top: 1.2rem
	}
	#activity {
		margin-top: 0rem !important
	}
}
@media (device-height:667px) and (-webkit-min-device-pixel-ratio:2) {
	#page-grap, #page-changephone, #page-result {
		height: 603px;
		background-size: 100% 603px
	}
	#expection-result-wrap #btns-container {
		margin-top: 1.2rem
	}
	#activity {
		margin-top: 1rem !important
	}
}
@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2.6) {
	#page-grap, #page-changephone, #page-result {
		height: 672px;
		background-size: 100% 672px
	}
	#expection-result-wrap #btns-container {
		margin-top: 1.2rem
	}
	#activity {
		margin-top: 1.5rem !important
	}
}
.btn-orange {
	background-color: #ff8800;
	color: #fff;
	border: none
}
.btn-orange:active {
	background-color: #ee7f00;
	color: #fff;
	border: none
}
.btn-light {
	background-color: #ffffff;
	color: #999;
	border: none
}
.btn-light:active {
	background-color: #f4f4f4;
	color: #999;
	border: none
}