.bt_foot {
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 1.3rem;
  color: #666666;
  margin: 15px auto;
}
.bt_foot:before {
  display: inline-block;
  content: " ";
  height: 16px;
  width: 16px;
  line-height: 30px;
  background-color: red;
  vertical-align: middle;
  background: url(http://static.xiaojukeji.com/pinche/release/page/driver_register_edition/foot/mobile_icon_9fc33d5.png) no-repeat center;
  background-size: auto 14px;
}
