.form {
  display: block;
  width: 88%;
  margin: auto;
}
.upload_card {
  padding: 12px 35px 0;
  background-color: #f2f2f4;
  display: none;
}
/**animate start**/
.animate .upload_card {
  position: relative;
  display: block;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms;
}
.animate .form {
  display: block;
  position: absolute;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms;
}
.begin_animate .upload_card {
  transform: translate3d(0, 100px, 0);
  -webkit-transform: translate3d(0, 100px, 0);
  opacity: 0;
}
.begin_animate .form {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  opacity: 1;
}
.end_animate .form {
  -webkit-transform: translate3d(0, -100px, 0);
  opacity: 0;
}
.end_animate .upload_card {
  -webkit-transform: translate3d(0, 0px, 0);
  opacity: 1;
}
.ended_animate .form {
  display: none;
}
.ended_animate .upload_card {
  display: block;
}
/**animate end**/
.upload_card a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.4);
}
.upload_title {
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 1.4rem;
  color: #666;
}
.upload_card ul {
  height: 464px;
}
.upload_card .file_select {
  margin: auto;
  border-radius: 2px;
  background: #fefefe url(http://static.xiaojukeji.com/pinche/release/page/driver_register/img/add_47ce0d2.png) no-repeat center;
  background-size: 30px;
  position: relative;
  margin-top: 41px;
  height: 175px;
  width: 175px;
  background: white;
}
.upload_card .file_select > div {
  opacity: 0;
}
.upload_card .file_select .webuploader-pick {
  opacity: 1;
}
/*
.driving_licence_front,
.driving_licence_backend{
	height: 93px;
	width: 50%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.driving_licence_backend{
	border: 0px solid #f2f2f4;
	border-left-width: 5px;
}
.driving_licence_front{
	border: 0px solid #f2f2f4;
	border-right-width: 5px;
}
*/
.car_photo,
.driving_licence_front .shadow,
.driving_licence_backend .shadow {
  box-shadow: 1px 1px 0px 1px rgba(7, 0, 2, 0.06);
  -webkit-box-shadow: 1px 1px 0px 1px rgba(7, 0, 2, 0.06);
  font-size: 1rem;
}
.upload_card .shadow {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100% auto;
  background-position: center;
  color: red;
  height: 175px;
}
.driving_licence_front .shadow {
  background-image: url(http://static.xiaojukeji.com/pinche/release/page/driver_register/img/driver_tips_f0ace2b.png);
  background-size: 100%;
  background-position: 50% 50%;
}
.driving_licence_backend .shadow {
  background-image: url(http://static.xiaojukeji.com/pinche/release/page/driver_register/img/traver_tips_72a5219.jpg);
  background-size: 100%;
  background-position: 50% 50%;
}
.car_photo {
  display: none;
}
.upload_card .select_tips {
  height: 93px;
  line-height: 30px;
  text-align: center;
  color: #333;
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 1.4rem;
  height: 50px;
  line-height: 50px;
  position: relative;
  top: -38px;
}
.photo_uploaded .select_tips {
  /*display: none;*/
}
.upload_card .photo_uploaded {
  background: #fefefe;
}
.register_submit {
  height: 42px;
  line-height: 42px;
  text-align: center;
  background: #ff8903;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 1.4rem;
}
