<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>滴滴出行</title>
    
<body>

</body>
</html>
<script src="http://static.xiaojukeji.com/pinche/beat-dist/static/common/js/zepto.js"></script>
<script src="http://static.xiaojukeji.com/pinche/beat-dist/static/common/js/didi-h5-monitor.js"></script>
<script type="text/javascript">
    var action =  /[?&]action_id=([^&]*)/.test(location.search) && RegExp.$1;
    
    if(!action){
        action = 'download-transfer-160107_index_sw'
    }

    DidiMonitor.sendBeatles(action,null,true);

    setTimeout(function(){
        window.location.href = 'http://d.xiaojukeji.com/'
    },300)
</script>

