<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<title>遇见圣诞北极熊</title>
    <style type="text/css">
        body {position: relative;}
        * {padding: 0; margin: 0;}
        img {max-width: 100%; vertical-align: top;}
        .btn-go {
            width: 78.6%;
            height: 42px;
            margin: 25px auto;
            border: 1px solid #fb8909;
            border-radius: 9px;
            color: #fb9334;
            font-size: 16px;
            font-weight: bold;
            line-height: 42px;
            text-align: center;
        }
    </style>
<body>
	<img src="http://static.xiaojukeji.com/pinche/beat-dist/static/stpages2/img/kele-bear-151224/main_01_4b8a3d2.png" style="min-height:317px;">
	<img src="http://static.xiaojukeji.com/pinche/beat-dist/static/stpages2/img/kele-bear-151224/main_02_0a71caa.png" style="min-height:289px;">
    <div class="btn-go">点击查看具体活动规则</div>
	<img src="http://static.xiaojukeji.com/pinche/beat-dist/static/stpages2/img/kele-bear-151224/main_04_5756967.png" style="min-height:325px;">
</body>
</html>
<script src="http://static.xiaojukeji.com/pinche/beat-dist/static/common/js/zepto.js"></script>
<script src="http://static.xiaojukeji.com/pinche/beat-dist/static/common/js/didi-h5-monitor.js"></script>
<script>
(function(){
    var _send = DidiMonitor.sendBeatles;

    $('.btn-go')
        .on('click', function(){
            _send(
                'kele-bear-151218_btn-go_ck'
                , null
                , true
            ); 
            setTimeout(function(){
                location.href = 'http://static.diditaxi.com.cn/pinche/staticpage/tenday_151210.html';
            }, 300);
        });

    _send('kele-bear-151218_index_sw');

})();

</script>

