<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<title>青春变现季</title>
    <style type="text/css">
        * {padding: 0; margin: 0;}
        img {max-width: 100%; vertical-align: top;}
    </style>
<body>
    <img src="http://static.xiaojukeji.com/pinche/beat-dist/static/stpages2/img/youth-make-money-150917/main_e1f5881.png">
</body>
</html>
<script src="http://static.xiaojukeji.com/pinche/beat-dist/static/common/js/zepto.js"></script>
<script src="http://static.xiaojukeji.com/pinche/beat-dist/static/common/js/didi-h5-monitor.js"></script>
<script type="text/javascript">
DidiMonitor.sendBeatles('youth-make-money-150917_sw');
</script>

