body{
    background-color: #f6f6f6;
}
#master {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.main {
    display: none;
    width: 100%;
    background-size: 100% 426px;
    text-align: center;
}
a[class^=btn-] {
    width: 87%;
    font-size: 1.6rem;
    font-weight: 500;
}
.header {
    height: 5.2rem;
    padding: 6% 5% 5% 5%;
    text-align: center;
}
.owner-logo {
    display: inline-block;
    border-radius: 50%;
    width: 6.5rem;
    height: 6.5rem;
    background-repeat: no-repeat;
    background-size: 6.5rem 6.5rem;
}
.dv-wrap {
    display: inline-block;
    position: relative;
    background: rgba(255, 255, 255, 0);
    width: 90%;
    background-size: 291px 327px;
    margin: 0 5%;
}
.tip-bubble {
    display: block;
    margin: 0 6%;
    padding: 10%;
    padding-top: 4%;
    height: 10rem;
    box-sizing: border-box;
}
.tip-bubble>p {
    font-size: 1.5rem;
    color: #04383d;
    text-align: left;
}
.dv-wrap p {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}
#p-share-button{
    margin-top: 6px;
}
.dv-wrap input {
    border: .1rem solid #d0e9cb;
    border-radius: 5px;
    background-clip: padding-box;
    height: 4.4rem;
    display: inline-block;
    width: 87%;
    text-align: center;
    margin: 1.2rem 0;
    font-size: 1.6rem;
    box-sizing: border-box;
    color: #666;
    padding: 0 .8rem;
}
/*page grap css*/

#page-grap {
    height: 503px;
    background-image: url(/static/activity/imgs/recommend/spring_02.png);
    background-repeat: no-repeat;
    background-size: 100% 503px;
}
#page-grap .dv-result {
    margin-top: 13rem;
}
form>a {
    font-size: 1.5rem;
}
/*page result css*/

#page-result-1 {
    height: 504px;
    background-image: url(/static/activity/imgs/recommend/spring_03.png);
    background-repeat: no-repeat;
    background-size: 100% 504px;
}
#page-result-2 {
    height: 504px;
    background-image: url(/static/activity/imgs/recommend/spring_02.png);
    background-repeat: no-repeat;
    background-size: 100% 504px;
}
#page-result-1>.dv-wrap span.dache-coupon {
    display: inline-block;
    width: 18.6rem;
    height: 7.6rem;
    background-image: url(/static/activity/imgs/recommend/coupon-dache.png);
    background-repeat: no-repeat;
    background-size: 185px 76px;
    margin-bottom: 3rem;
}
span.dache-coupon>label {
    height: 76px;
    line-height: 76px;
    position: relative;
    left: .8rem;
    font-size: 4.5rem;
    color: #cf2a2a;
}
#page-result-1 .dv-result {
    top: 2.7rem;
}
#page-result-2 .dv-result {
    top: 12.7rem;
}
/*page gen hb css*/

#page-gen-hb-1 {
    height: 504px;
    background-image: url(/static/activity/imgs/recommend/spring_01.png);
    background-repeat: no-repeat;
    background-size: 100% 504px;
}
#page-gen-hb-1>.dv-wrap {
    top: 31rem;
}
#page-gen-hb-2 {
    height: 504px;
    background-image: url(/static/activity/imgs/recommend/spring_01.png);
    background-repeat: no-repeat;
    background-size: 100% 504px;
}
.newer-gift-text{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fff;
    display: block;
}
.newer-gift {
    display: inline-block;
    width: 167px;
    height: 33px;
    background-image: url(/static/activity/imgs/recommend/newer-gift.png);
    background-repeat: no-repeat;
    background-size: 167px 33px;
    margin: 1rem 0 1rem;
}
#page-gen-hb-2>.dv-wrap {
    top: 23.2rem;
    left: 0.1rem;
}
#page-gen-hb-2 .sp-sender-logo {
    display: inline-block;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    background-color: #fff;
    background-clip: padding-box;
    background-size: 5.5rem 5.5rem;
}
.dv-result {
    width: 90%;
    display: inline-block;
    position: relative;
    padding: 7%;
    box-sizing: border-box;
    border-radius: 0.6rem;
    background-clip: padding-box;
}
#page-gen-hb-1 .dv-result{
    padding-top: 2rem;
}
#page-gen-hb-2 form{
    padding-top: 0rem; 
}
.btn-didiapp {
    margin: 1rem 0;
}
.p-tips {
    font-size: 1.2rem;
    margin: 0.2rem 0;
    color: #562700;
    text-align: left;
}
/*蒙层指引*/

.didi-cover {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.8;
    background-color: black;
    text-align: center;
    width: 100%;
    min-height: 480px;
    z-index: 20;
}
.didi-cover p {
    font-size: 1.8rem;
    color: #FFF;
}
.didi-cover p.p-arrow {
    text-align: right;
    margin: 1.4rem 4rem 5rem;
}
.didi-cover p.p-arrow img {
    width: 101px;
    height: 121px;
}
.didi-cover>img {
    margin-top: 35px;
    width: 118px;
    height: 71px;
}
#sp-change-phone {
    padding: 0 .3rem;
    color: #ff8a01;
    font-size: 1.3rem;
}
#page-exception .icon-wrap {
    display: inline-block;
    width: 103px;
    height: 103px;
    line-height: 103px;
    background-color: #fff;
    background-size: 103px 103px;
    border: 3px solid #dadada;
    border-radius: 103px;
    background-clip: padding-box;
    margin-top: 10rem;
}
#page-exception .icon {
    display: inline-block;
    width: 48px;
    height: 88px;
    background-size: 48px 88px;
    position: relative;
    top: 10px;
}
.i-out-server {
    background-image: url("http://static.xiaojukeji.com/webapp/images/i-out-server.png");
    background-repeat: no-repeat;
}
.p-soft-errno {
    font-size: 1.7rem;
    margin: 3rem 3rem 0.6rem;
    color: #ff8a01;
}
.icon-share-timeline {
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url(/static/activity/imgs/recommend/share-timeline-icon.png);
    background-size: 19px 19px;
    margin-right: 4px;
    position: relative;
    top: 3px;
}
.icon-share-appmsg {
    display: inline-block;
    width: 21px;
    height: 18px;
    background-image: url(/static/activity/imgs/recommend/share-appmsg-icon.png);
    background-repeat: no-repeat;
    background-size: 21px 18px;
    margin-right: 4px;
    position: relative;
    top: 3px;
}
#btn-share-appmsg {
    margin-top: 1rem;
}
#p-gen-succ-tip {
    color: #fff;
    font-size: 1.2rem;
}
@media (device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    /* 兼容iphone4/4s */
    .owner-logo {
        display: inline-block;
        border-radius: 50%;
        width: 5.5rem;
        height: 5.5rem;
        background-repeat: no-repeat;
        background-size: 5.5rem 5.5rem;
    }
    #page-gen-hb-1 .dv-result{
        padding-top: 1rem;
    }
    #page-gen-hb-2 form{
       position: relative;
       top: -1.5rem;
    }
    #page-grap .dv-result{
        margin-top: 10.5rem;
    }
    #page-result-1 .dv-result{
        top: 0.5rem;
    }
}
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    /* 兼容iphone 5/5s */
    .owner-logo {
        display: inline-block;
        border-radius: 50%;
        width: 5.5rem;
        height: 5.5rem;
        background-repeat: no-repeat;
        background-size: 5.5rem 5.5rem;
    }
    #page-gen-hb-1 .dv-result{
        padding-top: 1rem;
    }
    #page-gen-hb-2 form{
        position: relative;
        top: -1.5rem;
    }
    #page-grap .dv-result{
        margin-top: 10.5rem;
    }
    #page-result-2 .dv-result{
        top: 11rem;
    }
    #page-result-1 .dv-result{
        top: 0.5rem;
    }
}
@media (device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    /* 兼容iphone 6 */
    #page-gen-hb-1 .dv-result{
        padding-top: 2.5rem;
    }
    #page-gen-hb-2 form{
        padding-top: 0rem;
    }
    #page-grap .dv-result{
        margin-top: 13.5rem;
    }
    #page-result-2 .dv-result{
        top: 13rem;
    }
    #page-result-1 .dv-result{
        top: 3rem;
    } 
    #page-result-1>.dv-wrap span.dache-coupon{
        width: 20rem;
        height: 8.6rem;
        background-size: 205px 85px;
    }
    span.dache-coupon>label{
        left: 1.8rem
    }

}
@media (device-height: 736px) and (-webkit-min-device-pixel-ratio: 2.6) {
    /* 兼容iphone6 plus */
    #page-gen-hb-1 .dv-result{
        padding-top: 3rem;
    }
    #page-gen-hb-2 form{
       padding-top: 1rem; 
    }
    #page-grap .dv-result{
        margin-top: 15rem;
    }
    #page-result-2 .dv-result{
        top: 16rem;
    }
    #page-result-1 .dv-result{
        top: 4rem;
    }
    #page-result-1>.dv-wrap span.dache-coupon{
        width: 20rem;
        height: 8.6rem;
        background-size: 205px 85px;
    }
    span.dache-coupon>label{
        left: 1.8rem
    }
}