<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>滴滴打车，让出行更美好</title>
    <link type="image/x-icon" href="http://www.xiaojukeji.com/website/images/favicon.ico" rel="icon">
    <link href="http://www.xiaojukeji.com/website/images/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="http://static.xiaojukeji.com/pinche/beat-dist/static/common/css/merged-common-ui.css">
    <link rel="stylesheet" type="text/css" href="http://static.xiaojukeji.com/pinche/beat-dist/static/pc-portal/css/recruit_8a041ed.css">

    <script type="text/javascript">


    </script>
</head>

<body>
    <header>
        <div class="wrap"><img src="http://static.xiaojukeji.com/pinche/beat-dist/static/pc-portal/img/logo-new-20150909_4ea638a.png" height="28px" width="295px">
        </div>
    </header>

    <div class="banner">
        <div class="wrap">
            <div class="banner-left">

                <img src="http://static.xiaojukeji.com/pinche/beat-dist/static/pc-portal/img/banner-title_e3445bb.png" width="290px" height="89px">
                <div class="reg">
                    <h2>扫码即可注册顺风车车主</h2>
                    <div class="qr-cont">
                        <img src="http://static.xiaojukeji.com/pinche/beat-dist/static/pc-portal/img/recruit-100052_d89cd28.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>&copy;2015 北京小桔科技有限公司 京公网安备11010802015048号 京ICP备12043664号-1</footer>
</body>
<script src="http://static.xiaojukeji.com/pinche/beat-dist/static/common/js/zepto.js"></script>
<script src="http://static.xiaojukeji.com/pinche/beat-dist/static/common/js/qrcode.base.js"></script>
<script src="http://static.xiaojukeji.com/pinche/beat-dist/static/common/js/qrcode.h5.js"></script>
<script src="http://static.xiaojukeji.com/pinche/beat-dist/static/pc-portal/js/recruit_4d4375f.js"></script>
</html>

