html, body, div, span, h1, h2, h3, h4, h5, h6, hr, p, a, em, img, input, q, b, dl, dt, dd, ol, ul, li, form, label, canvas {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html, body {
    font-size: 62.5%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #FFF;
    font-size-adjust: none;
    font-family: "STHeiTi-Light", 'Microsoft YaHei', arial, sans-serif, 'Droid Sans Fallback';
    position: relative;
    overflow: hidden;
}
/* 背景部分 */

.flipbook-viewport {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.flipbook-viewport .container {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: auto;
    overflow: hidden;
}
.flipbook-viewport .flipbook {
    width: 100%;
    height: 100%;
    left: -461px;
    top: -300px;
}
.flipbook-viewport .page {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-size: 100%;
}
.positionPage {
    position: relative;
    width: 320px;
    height: 480px;
    margin: 0 auto;
}
.page .tips_logobg {
    background: url("../../imgs-pinklove/all_page_logo.png");
    background-size: 100%;
    position: absolute;
    width: 133px;
    height: 21px;
    left: 23px;
    top: 21px;
    z-index: 50;
}
.page .tips_text {
    width: 47px;
    height: 132px;
    position: absolute;
    top: 53px;
    left: 225px;
}
/*第一张，母女篇*/

@-webkit-keyframes montherHand-animate {
    0% {
        /*top: 218px;
        left: 154px;*/
        
        -webkit-transform: rotate(0deg);
        -webkit-transform-origin: bottom left;
    }
    25% {
        -webkit-transform: rotate(-10deg);
        -webkit-transform-origin: bottom left;
    }
    40% {
        -webkit-transform: rotate(-15deg);
        -webkit-transform-origin: bottom left;
    }
    50% {
        -webkit-transform: rotate(-10deg);
        -webkit-transform-origin: bottom left;
    }
    60% {
        -webkit-transform: rotate(0deg);
        -webkit-transform-origin: bottom left;
    }
    75% {
        -webkit-transform: rotate(5deg);
        -webkit-transform-origin: bottom left;
    }
    100% {
        left: 153px;
        -webkit-transform: rotate(10deg);
        -webkit-transform-origin: bottom left;
    }
}
.page1 .first_page_bg {
    width: 234px;
    height: 302px;
    position: absolute;
    top: 104px;
    left: 38px;
}
.page1 .first_page_bg_lazyload {
    background: url("../../imgs-pinklove/first_page_bg.png") no-repeat;
    background-size: 100%;
}
.page1 .first_page_textbg {
    background: url("../../imgs-pinklove/first_page_text.png") no-repeat;
    background-size: 100%;
    -webkit-opacity: 0.0;
    opacity: 0.0;
}
.page1 .first_page_people {
    width: 282px;
    height: 234px;
    position: absolute;
    top: 187px;
    left: 38px;
}
.page1 .first_page_peoplebg {
    background: url("../../imgs-pinklove/first_page_people.png") no-repeat;
    background-size: 100%;
}
.page1 .montherhand {
    width: 83px;
    height: 25px;
    position: absolute;
    top: 218px;
    left: 154px;
    -webkit-animation-name: montherHand-animate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.page1 .montherhandbg {
    background: url("../../imgs-pinklove/first_page_hand1.png") no-repeat;
    background-size: 100%;
}
@-webkit-keyframes childhand-animate {
    0% {
        top: 312px;
        left: 75px;
    }
    25% {
        top: 314px;
        left: 75px;
        -webkit-transform: rotate(-10deg);
        -webkit-transform-origin: bottom left;
    }
    50% {
        -webkit-transform: rotate(0deg);
        -webkit-transform-origin: bottom left;
    }
    75% {
        top: 312px;
        left: 75px;
        -webkit-transform: rotate(10deg);
        -webkit-transform-origin: bottom left;
    }
    100% {
        -webkit-transform: rotate(0deg);
        -webkit-transform-origin: bottom left;
    }
}
.page1 .childhand {
    width: 15px;
    height: 43px;
    position: absolute;
    top: 312px;
    left: 75px;
    -webkit-animation-name: childhand-animate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.page1 .childhandbg {
    background: url("../../imgs-pinklove/first_page_hand2.png") no-repeat;
    background-size: 100%;
}
.tears {
    width: 31px;
    height: 24px;
    position: absolute;
    top: 294px;
    left: 80px;
}
.tearsbg {
    background: url("../../imgs-pinklove/tears.png") no-repeat;
    background-size: 100%;
}
.flipbook .page {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.flipbook-viewport .botton {
    width: 100%;
    height: 47px;
    background: #ef8199;
    line-height: 47px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    position: absolute;
    bottom: 0px;
    z-index: 100;
    display: none;
}
.flipbook-viewport .cover {
    opacity: 0.0;
    background-color: #f32866;
}
.flipbook-viewport .btn_text {
    margin-left: 5px;
}
.botton ul {
    height: 100%;
    width: 100%;
    text-align: center;
}
.botton li {
    float: left;
}
.flipbook-viewport .leftArrow {
    background: url("../../imgs-pinklove/leftArrow.png") no-repeat;
    background-size: 15px;
    position: absolute;
    background-position: left center;
    width: 20%;
    height: 100%;
    left: 10px;
    top: 0;
    z-index: 100;
}
.flipbook-viewport .rightArrow {
    background: url("../../imgs-pinklove/rightArrow.png") no-repeat;
    background-size: 15px;
    position: absolute;
    background-position: right center;
    width: 20%;
    height: 100%;
    right: 10px;
    top: 0;
    z-index: 100;
}
.flipbook-viewport .rightArrow {} .flipbook-viewport .botton li:first-child {
    background: url("../../imgs-pinklove/littermailer.png") no-repeat;
    background-size: 100%;
    width: 23px;
    height: 48px;
    background-position-y: 50%;
    margin-left: 20%;
}
.flipbook-viewport .botton li:last-child {
    margin-left: 2%;
}
/*第二张，地铁*/

@-webkit-keyframes peoplemove {
    0% {
        -webkit-transform: rotate(1deg);
    }
    25% {
        -webkit-transform: rotate(1deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(-1deg);
    }
    100% {
        -webkit-transform: rotate(-1deg);
    }
}
@-webkit-keyframes womanmove {
    0% {
        -webkit-transform-origin: bottom;
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform-origin: bottom;
        -webkit-transform: rotate(1deg);
    }
    50% {
        -webkit-transform-origin: bottom;
        -webkit-transform: rotate(0deg);
    }
    75% {
        -webkit-transform-origin: bottom;
        -webkit-transform: rotate(-1deg);
    }
    100% {
        -webkit-transform-origin: bottom;
        -webkit-transform: rotate(1deg);
    }
}
.page2 .otherpeople {
    width: 320px;
    height: 480px;
    position: absolute;
    left: 0;
    -webkit-animation-name: peoplemove;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.page2 .otherpeoplebg {
    background: url("../../imgs-pinklove/otherpeople.png") no-repeat;
    background-size: 100%;
}
.page2 .mother {
    position: absolute;
    width: 112px;
    height: 312px;
    top: 120px;
    left: 117px;
    -webkit-animation-name: womanmove;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.page2 .motherbg {
    background: url("../../imgs-pinklove/mother.png") no-repeat;
    background-size: 100%;
}
.page2 .sencod_page_textbg {
    background: url("../../imgs-pinklove/text2.png") no-repeat;
    background-size: 100%;
    -webkit-opacity: 0.0;
    opacity: 0.0;
}
/*第三张，夜归篇*/

.page3 {
    background-color: rgb(11, 51, 102);
}
.page3 .background {
    position: absolute;
    top: 0px;
    left: 0;
    width: 320px;
    height: 480px;
}
.page3 .background_lazyload {
    background: url("../../imgs-pinklove/3background.jpg") no-repeat;
    background-size: 100%;
}
.page3 .light {
    position: absolute;
    top: 115px;
    left: 0px;
    width: 283px;
    height: 367px;
    z-index: 100;
}
.page3 .lightbg {
    background: url("../../imgs-pinklove/woman_light.png") no-repeat;
    background-size: 100%;
}
.page3 .woman {
    position: absolute;
    top: 122px;
    left: 0px;
    width: 283px;
    height: 360px;
}
.page3 .womanbg {
    background: url("../../imgs-pinklove/woman_black.png") no-repeat;
    background-size: 100%;
}
.page3 .third_page_textbg {
    background: url("../../imgs-pinklove/text3.png") no-repeat;
    background-size: 100%;
    display: none;
}
.page3 .tips_logo3_bg {
    background: url("../../imgs-pinklove/logo3.png");
    background-size: 100%;
    position: absolute;
    width: 133px;
    height: 21px;
    left: 23px;
    top: 21px;
    z-index: 100;
}
/*第四张，宣传*/

.page4, .page5 {
    width: 100%;
    height: 100%;
    background: #FFF;
}
.page4 div, .page5 div {
    margin: 0 auto;
}
.page4 .part1 .logobg {
    background: url("../../imgs-pinklove/1logo.png") no-repeat;
    background-size: 100%;
    width: 93px;
    height: 93px;
    margin-top: 84px;
    display: none;
}
.page4 .part1 .textbg {
    background: url("../../imgs-pinklove/2text.png") no-repeat;
    background-size: 100%;
    width: 153px;
    height: 37px;
    margin-top: 45px;
    display: none;
}
.page4 .part1 .heart {
    text-align: center;
    margin-top: 10px;
}
/*.page4 .part1 ul {
    height: 47px;
}
.page4 .part1 ul li {
    float: left;
}
*/

.page4 .part1 .heart li {
    display: inline-block;
    width: 51px;
    height: 47px;
    margin: 0 3px;
    -webkit-opacity: 0.0;
    opacity: 0.0;
}
.page4 .part1 .heart .first {
    background: url("../../imgs-pinklove/3anxin.png") no-repeat;
    background-size: 100%;
}
.page4 .part1 .heart .second {
    background: url("../../imgs-pinklove/4tiexin.png") no-repeat;
    background-size: 100%;
}
.page4 .part1 .heart .third {
    background: url("../../imgs-pinklove/5shihui.png") no-repeat;
    background-size: 100%;
}
/*第五页，终于结束了*/

.page4 .part2 {
    display: none;
}
.page4 .part2 .logobg {
    background: url("../../imgs-pinklove/pinklogo.png") no-repeat;
    background-size: 100%;
    width: 208px;
    height: 71px;
    margin-top: 10px;
    display: none;
}
.page4 .part2 .peoplebg {
    background: url("../../imgs-pinklove/people.png") no-repeat;
    background-size: 100%;
    margin-top: 10px;
    width: 245px;
    height: 252px;
    display: none;
}
.flipbook-viewport .page img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}
.flipbook-viewport .shadow {
    -webkit-transition: -webkit-box-shadow 0.5s;
    -moz-transition: -moz-box-shadow 0.5s;
    -o-transition: -webkit-box-shadow 0.5s;
    -ms-transition: -ms-box-shadow 0.5s;
    -webkit-box-shadow: 0 0 20px #ccc;
    -moz-box-shadow: 0 0 20px #ccc;
    -o-box-shadow: 0 0 20px #ccc;
    -ms-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
}
/*写心意*/

@-webkit-keyframes writemindUp {
    0% {
        top: 90%;
    }
    25% {
        top: 75%;
    }
    50% {
        top: 50;
    }
    75% {
        top: 25%;
    }
    100% {
        top: 0;
    }
}
.writemind {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #FFF;
}
.writemind_up {
    -webkit-animation-name: writemindUp;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.writemind textarea {
    outline: none;
    border: none;
    background: none;
    resize: none;
}
/* 背景部分 */

.writemind .head {
    width: 100%;
    position: relative;
    background: url("../../imgs-pinklove/bg.png") left top no-repeat;
    background-size: 100%;
}
/*头部文字  */

.writemind .head_txt {
    height: 30px;
    line-height: 30px;
    font-size: 2rem;
    color: #850064;
    text-align: center;
    padding-top: 10px;
}
/* 信封 */

.writemind .mail {
    background: url("../../imgs-pinklove/mind.png") center top no-repeat;
    background-size: 100%;
    padding-top: 100%;
    position: relative;
    top: 7px;
}
.writemind .mail_content {
    position: absolute;
    top: 40px;
    left: 0px;
    margin: 0 auto;
    width: 64%;
    padding: 0 18%;
}
.writemind .prompt {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 1.0rem;
    color: #999999;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 0;
}
.writemind .prompt img {
    width: 90px;
}
.writemind .textarea {
    width: 100%;
    line-height: 20px;
    color: #9f8870;
    font-size: 1.4rem;
    height: 40px;
    display: block;
    overflow-y: hidden;
}
.writemind .count {
    display: none;
    font-size: 1.0rem;
    color: #e32000;
}
/* 按钮 */

.writemind .btns {
    width: 86%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.6rem;
}
.writemind .transmit {
    width: 100%;
    height: 41px;
    line-height: 41px;
    border-radius: 6px;
    border: 1px #e97ba8 solid;
    background-color: #f98fb9;
    color: #fff;
    margin-top: 6px;
}
.writemind .transmit:active {
    border: 1px #d66895 solid;
    background-color: #e2729e;
}
.writemind .small_share {
    width: 18%;
    height: 40px;
    background: url("../../imgs-pinklove/small_share.png") 0px 0px no-repeat;
    background-size: 41px 29px;
    position: absolute;
    right: 0;
    top: -9px;
}
::-webkit-input-placeholder {
    color: #9e876f;
}
/*安卓平台*/

.flipbook-viewport .flipbookAndorid {
    left: 0;
    top: 0;
    position: relative;
}
.flipbook-viewport .containerAndorid {
    width: 100%;
    height: 100%;
}
.flipbook-viewport .pageAndorid {
    position: absolute;
    top: 0px;
    left: 0px;
}
/*--=============================keyframes=============================--*/

@-webkit-keyframes moveToLeft_page_1 {
    0% {
        -webkit-transform: translateX(0px);
    }
    25% {
        -webkit-transform: translateX(-expression(document.body.offsetWidth*25% +"px"));
    }
    50% {
        -webkit-transform: translateX(-50%);
    }
    75% {
        -webkit-transform: translateX(-75%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}
@-webkit-keyframes moveToLeft {
    0% {
        -webkit-transform: translateX(0%);
    }
    25% {
        -webkit-transform: translateX(-25%);
    }
    50% {
        -webkit-transform: translateX(-50%);
    }
    75% {
        -webkit-transform: translateX(-75%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}
@-webkit-keyframes moveToRight {
    0% {
        -webkit-transform: translateX(0%);
    }
    25% {
        -webkit-transform: translateX(25%);
    }
    50% {
        -webkit-transform: translateX(50%);
    }
    75% {
        -webkit-transform: translateX(75%);
    }
    100% {
        -webkit-transform: translateX(100%);
    }
}
.moveToLeft {
    -webkit-animation: moveToLeft .5s ease-in-out both;
}
.moveToRight {
    -webkit-animation: moveToRight .5s ease-in-out both;
}
