/**
 * 最大化、最小化、横坚屏 (全屏给html节点添加class position_fullscreen)
 */
.slider_bar .controllers {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.controllers > div {
  z-index: 10;
  position: relative;
  float: left;
  height: 100%;
}
/* 全屏缩屏按钮 */
.fullscreen,
.shrinkscreen {
  display: none;
  width: 50px;
}
.fullscreen span,
.shrinkscreen span {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(http://static.xiaojukeji.com/pinche/release/component_modules/didi-component-ddplayer/css_player/img/expand_882b58e.png);
  background-repeat: no-repeat;
  background-size: 20px 41px;
  background-position: 0 0;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
}
.shrinkscreen span {
  background-position: 0 -20px;
  width: 22px;
  height: 22px;
  margin: -11px 0 0 -11px;
}
.inline_player .fullscreen,
.inline_player .shrinkscreen {
  display: block;
  opacity: 1;
}
.position_fullscreen .player {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100 !important;
}
.position_fullscreen .player .video {
  background-color: #000;
}
