.player.def_ctrl .video_title {
  display: none!important;
}
.player.def_ctrl .poster {
  display: none!important;
}
.player.def_ctrl .player_controls {
  display: none!important;
}
.player.def_ctrl .quality_button {
  display: none!important;
}
.player.def_ctrl .mask-layer {
  display: none!important;
}
.player.def_ctrl .appdl_download {
  display: none!important;
}
