@keyframes loading {
  0% {
    -webkit-transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes webkit-loading {
  0% {
    -webkit-transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.player_loading {
  width: 30px;
  height: 30px;
  background: url(http://static.xiaojukeji.com/pinche/release/component_modules/didi-component-ddplayer/css_player/img/loading_7393dec.png) 0 0 no-repeat;
  background-size: 100%;
  animation: loading 1.2s infinite linear;
  -webkit-animation: webkit-loading 1.2s infinite linear;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px -15px;
  z-index: 10;
}
.player_loading_notice {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #7E7E7E;
  font-size: 14px;
  margin: 22px -61px;
}
