<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<title>顺风帮帮忙 限号不限行</title>
    <style type="text/css">
        * {padding: 0; margin: 0;}
        img {max-width: 100%; vertical-align: top;}
    </style>
<body>
	<img src="http://static.xiaojukeji.com/pinche/beat-dist/static/stpages/img/hanhong-150826/1_01_3f9e0ee.jpg">
	<img src="http://static.xiaojukeji.com/pinche/beat-dist/static/stpages/img/hanhong-150826/1_02_a561d26.jpg">
	<img src="http://static.xiaojukeji.com/pinche/beat-dist/static/stpages/img/hanhong-150826/1_03_2872f78.jpg">
	<img src="http://static.xiaojukeji.com/pinche/beat-dist/static/stpages/img/hanhong-150826/1_04_cbe05f3.jpg">
	<img src="http://static.xiaojukeji.com/pinche/beat-dist/static/stpages/img/hanhong-150826/2_01_9701099.jpg">
	<img src="http://static.xiaojukeji.com/pinche/beat-dist/static/stpages/img/hanhong-150826/2_02_67616a3.jpg">
	<img src="http://static.xiaojukeji.com/pinche/beat-dist/static/stpages/img/hanhong-150826/2_03_340d0a7.jpg">
	<img src="http://static.xiaojukeji.com/pinche/beat-dist/static/stpages/img/hanhong-150826/2_04_664234c.jpg">
</body>
</html>
<script src="http://static.xiaojukeji.com/pinche/beat-dist/static/common/js/zepto.js"></script>
<script src="http://static.xiaojukeji.com/pinche/beat-dist/static/common/js/didi-h5-monitor.js"></script>
<script type="text/javascript">
DidiMonitor.sendBeatles('hanhong-150826_sw');
</script>

