html, body, div, span, h1, h2, h3, h4, h5, h6, hr, p, a, em, img, input, q, b, dl, dt, dd, ol, ul, li, form, label, canvas {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html, body {
    font-size: 62.5%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-size-adjust: none;
    font-family: "STHeiTi-Light", 'Microsoft YaHei', arial, sans-serif, 'Droid Sans Fallback';
    position: relative;
}

.wheel {
    width: 100%;
    position: relative;
    overflow: hidden;
    float: left;
}
.wheel a {
    display: block;
    width: 100%;
}
.wheel ul {
    display: -webkit-box;
    border-bottom: 1px #e6e6e6 solid;
}
.wheel ul li {
    width: 100%;
    -webkit-box-flex: 1.0;
    overflow: hidden;
}
.wheel ul li img {
    width: 100%;
    display: block;
    border: none;
}
.indicator {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
    font-size: 0;
}
.indicator span {
    width: 4px;
    height: 4px;
    display: inline-block;
    background: #dfe2e0;
    border-radius: 50%;
    margin: 0px 3px;
}
.indicator span.on {
    background: #ffffff;
}
.menu {
    width: 100%;
    overflow: hidden;
}
.count {
    width: 49.8%;
    height: 50px;
    -webkit-box-sizing: border-box;
    font-size: 0;
    text-align: center;
    float: left;
}
.count span {
    line-height: 44px;
    display: inline-block;
    font-size: 1.4rem;
}
.count span:nth-child(1) {
    color: #666666;
}
.count span:nth-child(2) {
    color: #ff8903;
    margin-left: 4px;
}
.border_bg {
    width: 1px;
    height: 50px;
    float: left;
    background: url(http://static.diditaxi.com.cn/activity/img-mall/border.png) right center no-repeat;
    background-size: 1px 20px;
}
.list {
    width: 100%;
    border-top: 1px #e6e6e6 solid;
    text-align: center;
    color: #666666;
    overflow: hidden;
}
.list span> a {
    display: inline-block;
    text-decoration: none;
    color: #666666;
}
.list span> a {
    border-right: 1px #e6e6e6 solid;
}
.list span> a {
    -webkit-box-sizing: border-box;
    width: 50%;
    border-bottom: 1px #e6e6e6 solid;
    float: left;
    position: relative;
}
.border {
    border: 3px #fff solid;
}
.border:active {
    border: 3px #f2f2f2 solid;
}
.activity {
    float: left;
    height: 20px;
    line-height: 20px;
    background-color: #ff8903;
    padding: 0 6px 0 8px;
    font-size: 12px;
    color: #fff;
    position: absolute;
    left: 0;
    top: 4px;
}
.act_bg {
    position: absolute;
    right: -4px;
    top: 0;
    display: inline-block;
    width: 4px;
    height: 20px;
    padding-left: 10px;
}
.activity_gray {
    background: url(http://static.diditaxi.com.cn/activity/img-mall/right_gray.png) right center no-repeat;
    background-size: 4px 20px;
}
.activity_org {
    background: url(http://static.diditaxi.com.cn/activity/img-mall/right_org.png) right center no-repeat;
    background-size: 4px 20px;
}
.picture {
    padding: 17px 0 6px 0;
}
.picture img {
    display: block;
    width: 110px;
    height: 75px;
    margin: 0 auto;
    border-radius: 5px;
}
.title {
    height: 19px;
    line-height: 19px;
    font-size: 1.4rem;
    position: relative;
    top: -2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.shop_icon {
    height: 10px;
    line-height: 10px;
    color: #ff8903;
    font-size: 1.0rem;
    margin-bottom: 7px;
}
.shop_icon span {
    width: 8px;
    height: 8px;
    display: inline-block;
    background: url(http://static.diditaxi.com.cn/activity/img-mall/shop_icon.png) left center no-repeat;
    background-size: 8px 8px;
    padding-right: 3px;
}
.footer {
    width: 100%;
    height: 52px;
    line-height: 52px;
    text-align: center;
    font-size: 1.2rem;
    border-top: 1px #e6e6e6 solid;
    margin-top: -1px;
}
.foo_loading {
    display: none;
    background: url(http://static.diditaxi.com.cn/activity/img-mall/loading_2.gif) left center no-repeat;
    background-size: 25px 25px;
    padding-left: 30px;
    color: #999;
}
.foo_more {
    display: none;
    color: #ff8903;
}
.foo_no {
    display: none;
    color: #999;
}
.act_gray {
    background-color: #d4d4d4;
}
.btn-orange {
    cursor: default;
    display: inline-block;
    width: 100%;
    height: 41px;
    line-height: 41px;
    border-radius: 5px;
    background-color: #ff8a01;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
}
.btn-orange:active {
    background-color: #df7800;
}