html, body, div, span, h1, h2, h3, h4, h5, h6, hr, p, a, em, img, input, q, b, dl, dt, dd, ol, ul, li, form, label, canvas {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
@font-face {
    font-family: 'Thin';
    src: url('http://static.diditaxi.com.cn/webapp/fonts/Thin.ttf') format('truetype');
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html, body {
    font-size: 62.5%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
    font-size-adjust: none;
    font-family: "STHeiTi-Light", 'Microsoft YaHei', arial, sans-serif, 'Droid Sans Fallback';
}
.iOCSS {
    display: -webkit-box;
    display: -webkit-flex;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    display: -webkit-box;
    display: -webkit-flex;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
ul.scrollable {
    min-height: 0;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
ul.list {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding: 0;
    margin: 0;
    list-style: none;
}
ul li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    list-style: none;
    text-align: left;
    background-clip: padding-box;
    border: 1px solid #F3F0F0;
    border-radius: 6px;
}
section {
    padding: 0 3%;
    text-align: left;
    color: #666666;
}
section>h6 {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 14px 0 8px;
    display: -webkit-box;
    word-break: break-word;
}
h6>p:first-child {
    margin-right: 7px;
    color: #ff8903;
}
h6>p:last-child {
    word-break: break-word;
}
section>div {
    font-size: 1.2rem;
    display: -webkit-box;
    box-sizing: border-box;
}
section>div>p:first-child {
    color: #ff8903;
    margin: 0 7px 0 4px;
}
section>div>p:last-child {
    letter-spacing: 1px;
    width: 94%;
}
hr {
    height: 1px;
    background-color: #e5e5e5;
    margin-top: 15px;
}
