s,strike, del{
    text-decoration:none;
}
#master {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative;
}
.main {
    min-width: 320px;
    display: none;
    text-align: center;
}
a[class^=btn-] {
    font-size: 1.8rem;
    font-weight: 600;
}
#btn-open {
    display: inline-block;
}
.hidden {
    display: none;
}
.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.5;
    display: none;
    filter: alpha(opacity=50);
}
.alert_more {
    height: 300px;
    width: 260px;
    display: none;
    padding-bottom: 10px;
    position: absolute;
    top: 80px;
    display: none;
    border-radius: 10px;
    background: #fff;
    text-align: center;
    z-index: 12;
    left: 10px;
    overflow: hidden;
}
.alert_title {
    width: 260px;
    height: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 30px;
}
.alert_more h4 {
    padding-top: 19px;
    color: #ff8103;
    font-size: 1.8rem;
}
.alert_more h4 i {
    color: #ff8103;
    font-size: 1.8rem;
}
.alert_more p {
    font-size: 1.2rem;
    margin-top: 3px;
    color: #bbb;
}
.alert_more p span {
    color: #ff8903;
    display: inline-block;
    padding: 5px;
}
p a.send_fri {
    display: block;
    width: 73%;
    margin: 0 13.5%;
    background: #ff8800;
    color: #fff;
    text-align: center;
    height: 40px;
    line-height: 20px;
    border-radius: 8px;
    line-height: 40px;
    margin-top: 10px;
    font-size: 1.20em;
    font-weight: 600;
    border: 1px solid #f2ac55;
}
p a.send_fri:active {
    /* background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9c00), to(#f87b00)); */
    background: #f38200;
}
/*end of common*/
.new_share{
    display: none;
    width: 96px;
    height: 23px;
    background-color: rgba(255,255,255,0.3);
    border: 1px solid #fff;
    border-radius: 2px;
    border-color: rgba(255,255,255,0.4);
    line-height: 23px;
    text-align: center;
    color: #532d00;
    font-size: 1.2rem;
    position: absolute;
    right: 6px;
    top: 9px;
}
.header {
    height: 5.0rem;
    padding: 4%;
    text-align: center;
    padding-bottom: 2%;
}
.header>.owner-logo {
    display: inline-block;
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
    background-repeat: no-repeat;
    background-size: 5.5rem 5.5rem;
    background-color: #fff;
}
/*end of header*/

.tip-bubble {
    display: block;
    margin: 0 6%;
    padding: 3% 4.5%;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 0.5rem;
    background-clip: padding-box;
    margin-top: 10px;
}
.tip-bubble>p {
    font-size: 1.4rem;
    color: #04383d;
    text-align: left;
}
/*end of bubble*/

.dv-wrap {
    display: inline-block;
    background: rgba(255, 255, 255, 0);
    width: 90%;
    background-size: 291px 327px;
    margin: 0 5%;
}
.dv-result {
    width: 90%;
    /*width: 90%;*/
    display: inline-block;
    position: relative;
    padding: 7%;
    box-sizing: border-box;
    border-radius: .5rem;
    background-clip: padding-box;
}
.dv-result a {
    display: none;
}
.dv-wrap p {
    font-size: 1.2rem;
    text-align: center;
}
.dv-wrap input {
    border: .1rem solid #dfdfdf;
    border-radius: 5px;
    background-clip: padding-box;
    height: 4.4rem;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 1.2rem 0;
    font-size: 1.8rem;
    box-sizing: border-box;
    color: #666;
}
/*end of dv-wrap*/

#page-grap {
    height: 567px;
    background-size: 100% 567px;
}
form>a {
    font-size: 1.8rem;
}
/*end of page grap css*/

#page-result {
    height: 567px;
    background-size: 100% 567px;
}
#page-result .dache-coupon {
    display: inline-block;
    width: 100%;
    height: 9.6rem;
    background: url("http://static.xiaojukeji.com/activity/img-hb/v2/coupon-dache.png?v=2") no-repeat;
    background-size: 100% 95px;
    margin-top: 0.3rem;
    position: relative;
    text-align: right;
    background-position: center top;
    color:#fa8919;
}
.yuan{
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    top: -2px;
    left: -0.4rem;
}
#page-result .dache-coupon>label {
    height: 76px;
    line-height: 76px;
    position: relative;
    right: 2rem;
    top: -1rem;
    font-size: 4.5rem;
}
.couponTitle {
    /*color: #484858;*/
    position: absolute;
    font-size: 1.5rem;
    font-weight: 500;
    left: 2rem;
    top: 1.3rem;
}

#page-result .dv-result {
    top: 7rem;
}
#page-grap .dv-result {
    margin-top: 12rem;
}
.dv-wrap-posi {
    position: absolute;
    left: 50%;
    margin-left: -45%;
    top: 24rem;
}
.dv-wrap-posi2 {
    position: absolute;
    left: 50%;
    margin-left: -45%;
    top: 14rem;
}
.p-tips {
    font-size: 1.2rem;
    color: #532d00;
    text-align: left;
    width: 110%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: -10px;
}
#sp-change-phone {
    padding: 0 .3rem;
    color: #f08000;
    font-size: 1.3rem;
}
/*狗日的小米四会给页面的手机号加上一个a标签，臭不要脸！*/

#sp-change-phone a {
    display: inline-block;
}
.newer-gift {
    display: inline-block;
    width: 167px;
    height: 33px;
    background-size: 167px 33px;
    margin: 1.5rem 0 2.5rem;
}
.btn-didiapp {
    margin-bottom: 6%;
}
#btn-didiapp {
    font-size: 1.8rem;
}
#btn-thirdparty {
    font-size: 1.8rem;
}
#btn-thirdparty>span {
    display: inline-block;
    width: 20px;
    height: 17px;
    position: relative;
    top: 2px;
    margin-right: 3px;
}
#btn-modify-phone {
    display: none;
    opacity: 0.5;
}
/*end of page result*/

/*start of page-changephone*/

#page-changephone {
    width: 100%;
}
#page-changephone>div {
    width: 80%;
}
#div-origin-phone {
    border: 1px solid #d6d6d6;
    color: #999;
    width: 100%;
    height: 34px;
    border-radius: 12px;
    background: #e6e6e6;
    margin: 30px auto 15px auto;
    line-height: 34px;
    font-size: 1.4rem;
}
#div-new-phone {
    height: 44px;
    margin: 0 auto 15px auto;
    border: 1px solid #d7d7d7;
    line-height: 44px;
    border-radius: 5px;
    background: #fff;
}
#div-new-phone input {
    width: 100%;
    height: 34px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 34px;
    font-size: 1.4rem;
}
#div-new-phone input::-webkit-input-placeholder {
    font-size: 1.4rem;
    font-weight: bold;
}
#div-btn-confirm {
    height: 44px;
    line-height: 44px;
    margin: 0 auto 15px auto;
    font-size: 1.6rem;
    border-radius: 5px;
}
#div-btn-confirm div {
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-size: 1.4rem;
}
#div-changephone-tips {
    margin: 0 auto;
    color: #999;
    text-align: left;
    font-size: 1.4rem;
}
/*end of page-changephone*/

#page-exception .icon-wrap {
    display: inline-block;
    width: 103px;
    height: 103px;
    line-height: 103px;
    background-color: #fff;
    background-size: 103px 103px;
    border: 3px solid #dadada;
    border-radius: 103px;
    background-clip: padding-box;
    margin-top: 10rem;
}
#page-exception .icon {
    display: inline-block;
    width: 48px;
    height: 88px;
    background-size: 48px 88px;
    position: relative;
    top: 10px;
}
.i-out-server {
    background: url("http://static.xiaojukeji.com/webapp/images/i-out-server.png") no-repeat
}
.p-soft-errno {
    font-size: 1.7rem;
    margin: 3rem 3rem 0.6rem;
    color: #ff8a01;
}
/*end of page exception*/

.didi-cover {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    width: 100%;
    min-height: 480px;
    z-index: 20;
}
#btn-hide-cover p img {
    width: 100%;
}
.didi-cover p {
    font-size: 1.8rem;
    color: #FFF;
}
.didi-cover p.p-arrow {
    text-align: right;
    margin: 1.4rem 4rem 5rem;
}
.didi-cover p.p-arrow img {
    width: 101px;
    height: 121px;
}
.didi-cover>img {
    margin-top: 35px;
    width: 118px;
    height: 71px;
}
/*end of cover*/

.list-wrap {
    display: none;
    padding: 5%;
    background-color: #fdf7d8;
}
#ul-list li:last-child {
    border-bottom: none;
}
.list-wrap>.hr-tip {
    margin: 2rem 0;
    font-size: 1.4rem;
    color: #666;
    height: .1rem;
    line-height: .1rem;
    background-color: #d7d7d7;
}
.hr-tip>span {
    padding: 0 1rem;
}
.d-wx-photo {
    display: inline-block;
    border-radius: 3px;
}
.d-hb-detail {
    display: inline-block;
    width: 86%;
    height: 64px;
    padding-top: 12px;
    box-sizing: border-box;
    text-align: left;
}
.comment_tx {
    color: #fff;
    opacity: 0.7;
    font-size: 1.2rem;
    padding-left: 1px;
    white-space: nowrap;
    word-wrap: break-word;
    margin-top: 2px;
}
.hb_amount {
    position: relative;
    float: right;
    color: #ff7a01;
    font-size: 1.7rem;
    font-weight: 600;
    top: -4px;
    margin-top: 3px;
}
ul li {
    list-style-type: none;
    border: none;
    border-bottom: 1px solid #eee;
    height: 64px;
}
ul li:last-child {
    list-style-type: none;
    border: none;
}
ul li p:first-child {
    padding-bottom: 1px;
    color: #333333;
    font-size: 1.4rem;
}
ul li p:first-child>span:first-child {
    font-size: 1.5rem;
    color: #fff;
    padding-right: 4px;
}
ul li p:first-child>span:last-child {
    color: #999;
    font-size: 0.78em;
    padding-left: 1px;
    white-space: nowrap;
    word-wrap: break-word;
}

/*end of list*/

@media (device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) {

    /* 兼容iphone4/4s */
    #page-grap {
        height: 416px;
        background-size: 100% 416px;
    }
    .header {
        padding: 1rem 0 .3rem;
    }
    .dv-wrap-posi {
        position: absolute;
        left: 50%;
        margin-left: -45%;
        top: 24rem;
    }
    .dv-wrap-posi2 {
        position: absolute;
        left: 50%;
        margin-left: -45%;
        top: 14rem;
    }
    #page-result .dache-coupon{
        height:8.2rem;
        background-size: 100% 80px;
        top: 0px;
    }
    #page-result .dache-coupon>label {
        right: 2rem;
    }
    .dv-result-success {
        margin-top: -6.5rem;
    }
    .dv-result-success .p-tips {
        margin-top: 1rem;
    }
    #page-result {
        height: 416px;
        background-size: 100% 416px;
    }
    .couponTitle {
        left:2.4rem;
    }

    #page-grap .dv-result {
        margin-top: 0rem;
    }
}
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    /* 兼容iphone 5/5s */
    #page-grap {
        height: 512px;
        background-size: 100% 512px;
    }
    .header {
        padding: 5%;
        padding-bottom: 2%;
    }
    .dv-wrap-posi {
        position: absolute;
        left: 50%;
        margin-left: -45%;
        top: 24rem;
    }
    #page-result .dache-coupon>label {
        right: 2rem;
    }
    .dv-wrap-posi2 {
        position: absolute;
        left: 50%;
        margin-left: -45%;
        top: 14rem;
    }
    #page-grap .dv-result {
        margin-top: 7.5rem;
    }
    .dv-result-success .p-tips {
        margin-top: 1rem;
    }
    .couponTitle {
        left:2.4rem;
    }
    #page-result {
        height: 512px;
        background-size: 100% 512px;
    }
    #page-result .dv-result {
        top: 3.2rem;
        margin-top: 20px;
    }
}
@media (device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    /* 兼容iphone 6 */
    #page-grap {
        height: 603px;
        background-size: 100% 603px;
    }
    .header {
        padding: 6%;
        padding-bottom: 3%;
    }
    .dv-wrap-posi {
        position: absolute;
        left: 50%;
        margin-left: -45%;
        top: 24rem;
    }
    .dv-wrap-posi2 {
        position: absolute;
        left: 50%;
        margin-left: -45%;
        top: 14rem;
    }
    .dv-result-success .p-tips {
        margin-top: 1.5rem;
    }
    .dv-result-success > #btns {
        margin-top: 2rem;

    }
    .yuan{
        font-size: 4rem;      
    }
    #page-grap .dv-result {
        margin-top: 13.6rem;
    }
    #page-result {
        height: 603px;
        background-size: 100% 603px;
    }
    #page-result .dv-result {
        top: 8.2rem;
        margin-top: 0.5rem;
    }
    #page-result .dache-coupon {
        height: 9.6rem;
        background-size: 100% 86px;
    }

    .couponTitle {
        left: 2.0rem;
        top:1.4rem;
    }
    #page-result .dache-coupon>label {
        top: -0.5rem;
        right: 2.5rem;
        font-size: 5.3rem;
    }
    .yuan {
        font-size: 1.5rem;
        font-weight: 600;
        position: relative;
        top: -2px;
    }
}
@media (device-height: 736px) and (-webkit-min-device-pixel-ratio: 2.6) {
    /* 兼容iphone6 plus */
    #page-grap {
        height: 672px;
        background-size: 100% 672px;
    }
    #page-grap .dv-result {
        margin-top: 19.2rem;
    }
    .header {
        padding: 8%;
        padding-bottom: 4%;
    }
    .yuan{
        font-size: 1.5rem;
        font-weight: 600;
        position: relative;
        top: -2px;
    }
    .dv-wrap-posi {
        position: absolute;
        left: 50%;
        margin-left: -45%;
        top: 24rem;
    }
    .dv-wrap-posi2 {
        position: absolute;
        left: 50%;
        margin-left: -45%;
        top: 14rem;
    }
    #page-result .dache-coupon{
        background-size: 100% 93px;
        height: 11.6rem;
    }
    .couponTitle {
        left: 3rem;
        top:1.4rem;
    }
    #page-result .dache-coupon>label{
        right: 2.9rem;
        top: -0.5rem;
        font-size: 5.3rem;
    }

    .dv-result-success{
        margin-top: 0;
    }
    .dv-result-success .p-tips {
        margin-top: 0rem;
    }
    #page-result .dv-result-success p:nth-child(1){
        padding-top: 2rem;
    }
    #page-result {
        height: 672px;
        background-size: 100% 672px;
    }
    #page-result .dv-result {
        margin-top: 8rem;
        padding-top: 0.5rem;
    }
}
.btn-orange {
    background-color: #ff8800;
    color: #fff;
    border: 1px solid #ed7e00;
}
.btn-orange:active{
    background-color: #e87d00;
    color: #fff;
    border: 1px solid #d97300;
}
.btn-light {
    background-color: #ffffff;
    color: #999;
    border: 1px solid #f1f1f1;
}
.btn-light:active{
    background-color: #f4f4f4;
    color: #999;
    border: 1px solid #e9e9e9;
}
.didi-activity {
    width: 90%;
    margin: 0 auto;
    margin-top: .5rem;
    font-size: 1rem
}
.didi-activity div {
    display: inline-block
}
.checkbox {
    width: 1rem;
    height: 1rem;
    position: relative
}
.checkbox input {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 0;
    position: absolute;
    top: 0.15rem;
    right: 0.1rem
}
