<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <title>滴滴打车</title>
    <link rel="stylesheet" type="text/css" href="http://static.xiaojukeji.com/webapp/css/merged-common-ui.css">
    <link rel="stylesheet" href="/static/style/idangerous.swiper.css">
    <link href="/static/style/index.css?v=123456" rel="stylesheet" type="text/css">
</head>

<body>
{{if eq .Data.Code 200 }}
<div class = "loadpage">
    <!--<div class="jd">-->
        <img class="car" src="/static/images/car.png">
        <!--<img class="lun" src="/static/images/2-lun.png">-->
        <!--<img class="lun2" src="/static/images/2-lun.png">-->
        <div class = "jindutiao">
            <img src="/static/images/jindutiao1.png">
            <img class="i2" src="/static/images/jindutiao2.png">
        </div>
        <div class="jindu"></div>
    <!--</div>-->
</div>
<div class="stopmusic" id="playmusic"><img src="/static/images/startmusic.png"></div>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide one-slide">
                <div class="one-slide-1"><img src="/static/images/1-siji.png">
                    <div class="one-slide-2"><img src="/static/images/1-lian.png"></div>
                </div>

                <div class="one-slide-3"><img src="/static/images/1-wenzi1.png"></div>
                <div class="one-slide-4"><img src="/static/images/1-wenzi2.png"></div>
                <div class="one-slide-5"><img src="/static/images/1-wode.png" ></div>
                <div class="pub-btn"><img src="/static/images/pub-1.png"></div>

        </div>

        <div class="swiper-slide two-slide">
            <div class="two-slide-1"><img src="/static/images/2-road.png"></div>
            <div class="two-slide-2"><img src="/static/images/2-tree.png"></div>
            <div class="two-slide-3"><img src="/static/images/2-car.png"></div>
            <div class="two-slide-4"></div>
            <div class="two-slide-5"></div>
            <div class="two-slide-6"><img src="/static/images/2-wz2.png">
                <div class="two-6-wz2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;程维在创造小滴时,一定把幸运这瓶药水放多了，才让小滴终有<span class="name">
                    {{.Data.Data.name}} </span>相伴！</div>
            </div>
            <div class="two-slide-7"><img src="/static/images/2-wz1.png">
                <div class="two-6-wz1"><span class="regist_year" style="margin-left:12px; ">{{.Data.Data.regist_year}}</span>年<span class="regist_month">{{.Data.Data.reregist_month}}</span>月您成为<span>135</span>万司机中的第<span class="all_ranking">{{.Data.Data.all_ranking}}</span>名司机。在<span class="regist_city"> {{.Data.Data.regist_city}}</span>，您是第<span>{{.Data.Data.city_ranking}}</span>位司机！</div>
            </div>
            <div class="two-slide-8"><img src="/static/images/2-cloud.png"> </div>
            <div class="two-slide-9"> </div>
            <div class="two-slide-10"> </div>
            <div class="pub-btn"><img src="/static/images/pub-1.png"></div>
        </div>

        <div class="swiper-slide three-slide">
            <div class="three-slide-1">
                <div class="three-slide-11"></div>
                <div class="three-slide-12"></div>
            </div>
            <div class="three-slide-2"><img src="/static/images/cloud.png"></div>
            <div class="three-slide-4">
                <img src="/static/images/3-wz1.png">
                <div class="three-wz2">累计订单距离达<span class="order_distance">{{.Data.Data.order_distance}}</span>公里 相当于<span class="marathon_circle">{{.Data.Data.marathon_circle}}</span>
                    个马拉松的距离
                </div>
            </div>
            <div class="three-slide-5"><img src="/static/images/3-wz2.png">

                <div class="three-wz">还记得<span class="first_year">{{.Data.Data.first_year}}</span>年<span class="first_month">{{.Data.Data.first_month}}</span>月<span class="first_date">{{.Data.Data.first_date}}</span>日接到第一笔单的忐忑<br>
                    <span class="pay_month">{{.Data.Data.pay_month}}</span>月<span class="pay_date">{{.Data.Data.pay_date}}</span>日赶上移动支付新潮流 开始用线上支付 成为最潮司机
                </div>
            </div>
            <div class="pub-btn"><img src="/static/images/pub-1.png"></div>
        </div>

        <div class="swiper-slide four-slide">
            <div class="four-slide-1"></div>
            <div class="four-slide-2"></div>
            <div class="four-slide-3"><img src="/static/images/4-cloud.png"></div>
            <!--<div class="four-slide-4">-->
            <!--</div>-->
            <div class="four-slide-5">
                <img src="/static/images/4-wenzi.png">
                <div class="four-wz">在滴滴的<span class="regist_days">{{.Data.Data.regist_days}}</span>天中，送<span class="sucess_orders">{{.Data.Data.sucess_orders}}</span>人到达目的地，因为您城市变的如此美好。
                    赢得土豪小滴<span class="all_award">{{.Data.Data.all_award}}</span>元奖励。单天收获最高奖金 <span class="day_max_award">{{.Data.Data.day_max_award}}</span>元。</div>
            </div>
            <div class="four-slide-6"></div>

            <div class="pub-btn"><img src="/static/images/pub-1.png"></div>
        </div>

        <div class="swiper-slide five-slide">
            <div class="five-slide-1"><img src="/static/images/5-beijing.png"></div>
            {{if eq .Data.Data.tag1 "独孤求败"}}

            <div class="five-slide-2 red"><img src="/static/images/5-red.png"></div>
            <div class="r-white"><img src="/static/images/5-rwhite.png"></div>
            <div class="r-green"><img src="/static/images/5-rgreen.png"></div>

            {{else if eq .Data.Data.tag1 "初入江湖"}}

            <div class="five-slide-2 white"><img src="/static/images/5-rwhite.png"></div>
            <div class="w-red"><img src="/static/images/5-red.png"></div>
            <div class="r-green"><img src="/static/images/5-rgreen.png"></div>
            {{else}}

            <div class="five-slide-2 green"><img src="/static/images/5-rgreen.png"></div>
            <div class="w-red"><img src="/static/images/5-red.png"></div>
            <div class="g-white"><img src="/static/images/5-rwhite.png"></div>

            {{end}}
            <!--if eq .Data.Data.tag1 "逍遥子"-->
            <div class="five-slide-3"><img src="/static/images/5-kuang.png">
                <div class="two-6-wz2" style=" left:10%;width: 208px; top: 21%;">在激烈的抢单pk中,您酷炫的战胜了<span class="defeat_peoples">
                    {{.Data.Data.defeat_peoples}}</span>个对手，有人的地方就有江湖，您达到<br>
                    {{if eq .Data.Data.tag1 "独孤求败"}}
                    <img class="minghao" style="width: 80px;" src="/static/images/5-gdqb.png">
                    {{else if eq .Data.Data.tag1 "初入江湖"}}
                    <img class="minghao" style="width: 80px;" src="/static/images/5-crjh.png">
                    {{else if eq .Data.Data.tag1 "令狐冲"}}
                    <img class="minghao" style="width: 80px;" src="/static/images/5-lhc.png">
                    {{else}}
                    <img class="minghao" style="width: 80px;" src="/static/images/5-xyz.png">
                    {{end}}
                    <!--<span style=" margin-left: 19px; position: absolute;" >（名号）</span>-->
                    <div class="mh_memory" style="display: none;">{{.Data.Data.tag1}}</div>
                </div>
            </div>
            <div class="pub-btn"><img src="/static/images/pub-1.png"></div>

        </div>

        <div class="swiper-slide six-slide">
            <div class="six-slide-1"><img src="/static/images/6-beijing.png"></div>
            <div class="six-slide-2"><img src="/static/images/6-car.png"></div>
            <div class="six-slide-3"><img src="/static/images/2-lun.png"></div>
            <div class="lun-repeat"><img src="/static/images/2-lun.png"></div>
            <div class="six-slide-4"><img src="/static/images/2-lun.png"></div>
            <div class="six-slide-5"><img src="/static/images/6-ren.png"></div>
            <!--<div class="six-slide-6"><img src="/static/images/3-wz1.png"></div>-->
            <!--<div class="six-slide-7"><img src="/static/images/3-wz1.png"></div>-->

            <div class="six-slide-6"><img src="/static/images/6-kuang1.png">
            </div>
            <div class="six-slide-7">{{.Data.Data.tag3}}</div>
            <div class="six-slide-8"><img src="/static/images/6-kuang1.png"></div>
            <div class="six-slide-9"><img src="/static/images/6-w2.png"></div>

            <div class="pub-btn"><img src="/static/images/pub-1.png"></div>
        </div>

        <div class="swiper-slide seven-slide">
            <div class="seven-slide-1"><img src="/static/images/7-beijing.png"></div>
            <div class="seven-slide-2"><img src="/static/images/7-l1.png"></div>
            <div class="seven-slide-3"><img src="/static/images/7-r1.png"></div>
            <div class="seven-slide-4"><img src="/static/images/7-l1.png"></div>
            <div class="seven-slide-5"><img src="/static/images/7-r1.png"></div>
            <div class="seven-slide-6"><img src="/static/images/7-l1.png"></div>
            <div class="seven-slide-7"><img src="/static/images/7-kuang1.png">
                <!--<div class="two-6-wz2">现在的滴滴脚步遍布全国<span class="">360</span>多个城市，师傅们每日提供<span class="">300</span>万次出行服务。 </div>-->
            </div>
            <div class="seven-slide-9"><img src="/static/images/7-w1.png"> </div>
            <div class="seven-slide-8"><img src="/static/images/7-kuang2.png">
                <!--<div class="two-6-wz2">现在的滴滴脚步遍布全国<span class="">360</span>多个城市，师傅们每日提供<span class="">300</span>万次出行服务。 </div>-->
            </div>
            <div class="seven-slide-10"><img src="/static/images/7-w2.png">   </div>
            <div class="pub-btn"><img src="/static/images/pub-1.png"></div>
        </div>

        <div class="swiper-slide eight-slide">
            <div class="eight-slide-1"><img src="/static/images/8-cloud.png"></div>
            <div class="eight-slide-2"><img src="/static/images/8-share.png"></div>
            <div class="eight-slide-3"><img src="/static/images/8-logo.png"></div>

            <div class="eight-slide-4"><img src="/static/images/8-wz.png"></div>
        </div>

    </div>
</div>



<audio src="/static/ALittleStoryring.mp3" autoplay="autoplay" style="display: none;" loop="loop"></audio>
<script type="text/javascript" src="http://static.xiaojukeji.com/webapp/js/merged-base-dialog.js?v=20150430165404"></script>
<script type="text/ecmascript" src="/static/scripts/idangerous.swiper-2.1.min.js"></script>
<script type="text/ecmascript" src="/static/scripts/jweixin-1.0.0.js"></script>

<script type="text/ecmascript" src="/static/scripts/index.js?v=1234"></script>
<script type='text/javascript' src='http://static.diditaxi.com.cn/webapp/ddbridge.js'></script>


</body>
{{else}}
<div class = "loadpage">
    <!--<div class="jd">-->
    <img class="car" src="/static/images/car.png">
    <!--<img class="lun" src="/static/images/2-lun.png">-->
    <!--<img class="lun2" src="/static/images/2-lun.png">-->
    <div class = "jindutiao">
        <img src="/static/images/jindutiao1.png">
        <img class="i2" src="/static/images/jindutiao2.png">
    </div>
    <div class="jindu"></div>
    <!--</div>-->
</div>
<div class="stopmusic" id="playmusic"><img src="/static/images/startmusic.png"></div>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide one-slide">
            <div class="one-slide-1"><img src="/static/images/1-siji.png">
                <div class="one-slide-2"><img src="/static/images/1-lian.png"></div>
            </div>

            <div class="one-slide-3"><img src="/static/images/1-wenzi1.png"></div>
            <div class="one-slide-4"><img src="/static/images/1-wenzi2.png"></div>
            <div class="one-slide-5"><img src="/static/images/1-wode.png" ></div>
            <div class="pub-btn"><img src="/static/images/pub-1.png"></div>

        </div>
        <div class="swiper-slide two-slide">
            <div class="two-slide-1"><img src="/static/images/2-road.png"></div>
            <div class="two-slide-2"><img src="/static/images/2-tree.png"></div>
            <div class="two-slide-3"><img src="/static/images/2-car.png"></div>
            <div class="two-slide-4"></div>
            <div class="two-slide-5"></div>
            <div class="two-slide-6"><img src="/static/images/2-wz2.png">
                <div class="two-6-wz2" style="font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;程维在创造小滴时,一定把幸运这瓶药水放多了，才让小滴终有<span class="name">
                    您 </span> 的相伴！</div>
            </div>
            <!--<div class="two-slide-7"><img src="/static/images/2-wz1.png">-->
                <!--<div class="two-6-wz1"><span class="regist_year" style="margin-left:12px; ">{{.Data.Data.regist_year}}</span>年<span class="regist_month">{{.Data.Data.reregist_month}}</span>月您成为<span>135</span>万司机中的第<span class="all_ranking">{{.Data.Data.all_ranking}}</span>名司机。在<span class="regist_city"> {{.Data.Data.regist_city}}</span>，您是第<span>{{.Data.Data.city_ranking}}</span>位司机！</div>-->
            <!--</div>-->
            <div class="two-slide-8"><img src="/static/images/2-cloud.png"> </div>
            <div class="two-slide-9"> </div>
            <div class="two-slide-10"> </div>
            <div class="pub-btn"><img src="/static/images/pub-1.png"></div>
        </div>

        <div class="swiper-slide three-slide">
            <div class="three-slide-1">
                <div class="three-slide-11"></div>
                <div class="three-slide-12"></div>
            </div>
            <div class="three-slide-2"><img src="/static/images/cloud.png"></div>
            <!--<div class="three-slide-4">-->
                <!--<img src="/static/images/3-wz1.png">-->
                <!--<div class="three-wz2">累计订单距离达<span class="order_distance">{{.Data.Data.order_distance}}</span>公里 相当于<span class="marathon_circle">{{.Data.Data.marathon_circle}}</span>-->
                    <!--个马拉松的距离-->
                <!--</div>-->
            <!--</div>-->
            <div class="three-slide-5"><img src="/static/images/3-wz2.png">

                <div class="three-wz" style="position: absolute;top: 19%;width: 60%;left: 21%;font-size: 1.6rem;font-weight: bold;">
                    注册滴滴的那天起，您成功跻身最有眼光司机的行列

                </div>
            </div>
            <div class="pub-btn"><img src="/static/images/pub-1.png"></div>
        </div>

        <div class="swiper-slide four-slide">
            <div class="four-slide-1"></div>
            <div class="four-slide-2"></div>
            <div class="four-slide-3"><img src="/static/images/4-cloud.png"></div>
            <!--<div class="four-slide-4">-->
            <!--</div>-->
            <div class="four-slide-5">
                <img src="/static/images/4-wenzi.png">
                <div class="four-wz" style="    position: absolute;top: 15%;width: 57%;left: 20%;font-size: 16px;font-weight: bold;">
                每天无数人通过您到达目的地，没有您，城市就不会如此美好！
                </div>
            </div>
            <div class="four-slide-6"></div>
            <div class="pub-btn"><img src="/static/images/pub-1.png"></div>
        </div>


        <div class="swiper-slide five-slide">
            <div class="five-slide-1"><img src="/static/images/5-beijing.png"></div>


            <div class="five-slide-2 red"><img src="/static/images/5-red.png"></div>
            <div class="r-white"><img src="/static/images/5-rwhite.png"></div>
            <div class="r-green"><img src="/static/images/5-rgreen.png"></div>


            <!--if eq .Data.Data.tag1 "逍遥子"-->
            <div class="five-slide-3"><img src="/static/images/5-kuang.png">
                <div class="two-6-wz2" style="position: absolute;left:15%; width: 60%;top: 19%;left: 19%;font-size: 1.6rem;font-weight: bold;">
                    人在江湖飘，谁能不抢单？您以矫健的身手成为人中龙凤，的哥中的CEO！

                </div>
            </div>
            <div class="pub-btn"><img src="/static/images/pub-1.png"></div>

        </div>

        <div class="swiper-slide six-slide">
            <div class="six-slide-1"><img src="/static/images/6-beijing.png"></div>
            <div class="six-slide-2"><img src="/static/images/6-car.png"></div>
            <div class="six-slide-3"><img src="/static/images/2-lun.png"></div>


            <div class="six-slide-4"><img src="/static/images/2-lun.png"></div>
            <div class="six-slide-5"><img src="/static/images/6-ren.png"></div>
            <!--<div class="six-slide-6"><img src="/static/images/3-wz1.png"></div>-->
            <!--<div class="six-slide-7"><img src="/static/images/3-wz1.png"></div>-->

            <div class="six-slide-6"><img src="/static/images/6-kuang1.png">
            </div>
            <div class="six-slide-7">
                <div class="seven-wenzi">
                    辛勤的工作，您从没关注自己身体，您惦记着路上的人们，我们惦记着您的健康!
                </div>
            </div>
            <div class="six-slide-8"><img src="/static/images/6-kuang1.png"></div>
            <div class="six-slide-9">
                <div class="seven-wenzi2">
                    小滴温馨提示：再赶着接活，也要劳逸结合。
                </div>

            </div>

            <div class="pub-btn"><img src="/static/images/pub-1.png"></div>
        </div>

        <div class="swiper-slide seven-slide">
            <div class="seven-slide-1"><img src="/static/images/7-beijing.png"></div>
            <div class="seven-slide-2"><img src="/static/images/7-l1.png"></div>
            <div class="seven-slide-3"><img src="/static/images/7-r1.png"></div>
            <div class="seven-slide-4"><img src="/static/images/7-l1.png"></div>
            <div class="seven-slide-5"><img src="/static/images/7-r1.png"></div>
            <div class="seven-slide-6"><img src="/static/images/7-l1.png"></div>
            <div class="seven-slide-7"><img src="/static/images/7-kuang1.png">
                <!--<div class="two-6-wz2">现在的滴滴脚步遍布全国<span class="">360</span>多个城市，师傅们每日提供<span class="">300</span>万次出行服务。 </div>-->
            </div>
            <div class="seven-slide-9"><img src="/static/images/7-w1.png"> </div>
            <div class="seven-slide-8"><img src="/static/images/7-kuang2.png">
                <!--<div class="two-6-wz2">现在的滴滴脚步遍布全国<span class="">360</span>多个城市，师傅们每日提供<span class="">300</span>万次出行服务。 </div>-->
            </div>
            <div class="seven-slide-10"><img src="/static/images/7-w2.png">   </div>
            <div class="pub-btn"><img src="/static/images/pub-1.png"></div>
        </div>

        <div class="swiper-slide eight-slide">
            <div class="eight-slide-1"><img src="/static/images/8-cloud.png"></div>
            <div class="eight-slide-2"><img src="/static/images/8-share.png"></div>
            <div class="eight-slide-3"><img src="/static/images/8-logo.png"></div>

            <div class="eight-slide-4"><img src="/static/images/8-wz.png"></div>
        </div>


    </div>
</div>



<audio src="/static/ALittleStoryring.mp3" autoplay="autoplay" style="display: none;" loop="loop"></audio>
<script type="text/javascript" src="http://static.xiaojukeji.com/webapp/js/merged-base-dialog.js?v=20150430165404"></script>
<script type="text/ecmascript" src="/static/scripts/idangerous.swiper-2.1.min.js"></script>
<script type="text/ecmascript" src="/static/scripts/jweixin-1.0.0.js"></script>
<script type="text/ecmascript" src="/static/scripts/index.js?v=1234"></script>
<script type='text/javascript' src='http://static.diditaxi.com.cn/webapp/ddbridge.js'></script>

</body>


{{end}}
</html>
