html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
input,
q,
b,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
canvas {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
body {
    background-color: #f0f0f0;
    font-size-adjust: none;
    margin: 0 auto;
    font-family: 'Microsoft YaHei', arial, sans-serif, 'Droid Sans Fallback';
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    font-size: 14px;
}
.main {
    margin: 0 5%;
    color:#333;
    font-size:0.88rem;
}
.main p{
    margin-top:20px;       
    line-height:20px;
}
.main .mt-0{
    margin-top:0px;       
    line-height:20px;
}
.footer{
    width:100%;
    position:relative;
    height:13px;
    margin-top:50px;
    text-align:center;
    margin-bottom:20px;
}
.footer span{
    display:inline-block;
    width:23px;
    height:19px;
    background:url("/static/activity/img-mall/logo_foot.png") #f0f0f0 top center no-repeat;
    background-size:23px 19px;
}