body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  -webkit-touch-callout: none;
}
.swiper-container {
  width: 100%;
  height: 500px;
  color: #fff;
  text-align: center;
}
.swiper-slide {
	background: url('../images/9.jpg') repeat left top;
	background-size:100%;
	width: 100%;
	position:relative;
	overflow:hidden;
}
.swiper-slide img{
	width: 100%;
}
canvas{
	-webkit-opacity:0.9;
	opacity: 0.9;
}
/* 第2-5公共动画start */
.slide-move .slide-title{
	left: 10%;
	-webkit-transition:all 0.5s ease-in; 
}
.slide-move .slide-time{
	top: 33.3%;
	-webkit-transition:all 0.5s ease-in; 
}
.slide-move .slide-p-one{
	opacity: 1;
	-webkit-transition:all 1s ease-in 0.5s; 
}
.slide-move .slide-p-two{
	opacity: 1;
	-webkit-transition:all 1s ease-in 1.5s; 
}
/* 第2-5公共动画end */
/* 第二页动画start */
.slide-move .two-d-one{
	opacity: 1;
	-webkit-transition:all 0.5s ease-in; 
}
.slide-move .two-d-two{
	left: 30%;
	top: 72%;
	opacity: 1;
	-webkit-transition:all 1s ease-in 0.5s; 
}
.slide-move .two-d-three{
	left: 63%;
	top: 71%;
	opacity: 1;
	-webkit-transition:all 1s ease-in 1.5s; 
}
/* 第二页动画end */
/* 第三页动画start */
.slide-move .three-d-one{
	opacity: 1;
	-webkit-transition:all 1.5s ease-in 0.5s; 
}
.slide-move .three-d-two{
	left: 27%;
	top: 55%;
	opacity: 1;
	-webkit-transition:all 1s ease-in 1s; 
}
.slide-move .three-d-three{
	width: 38%;
	left: 46%;
	top: 71%;
	opacity: 1;
	-webkit-transition:all 0.5s ease-in 0.5s; 
}
/* 第三页动画end */
/* 第四页动画start */
.slide-move .four-d-one{
	opacity: 1;
	-webkit-transition:all 0.5s ease-in; 
}
.slide-move .four-d-two{
	left: 59%;
	top: 65%;
	opacity: 1;
	-webkit-transition:all 1s ease-in 0.5s; 
}
.slide-move .four-d-three{
	left: 73.4%;
	top: 68%;
	opacity: 1;
	-webkit-transition:all 1s ease-in 1.5s; 
}
/* 第四页动画end */
/* 第五页动画start */
.slide-move .five-d-zero{
	top: 61%;
	-webkit-transition:all 0.5s ease-in 0.5s; 
}
.slide-move .five-d-six{
	opacity: 1;
	-webkit-transition:all 0.5s ease-in 1s; 
}.slide-move .five-d-seven{
	opacity: 1;
	-webkit-transition:all 0.5s ease-in 1s; 
}
.slide-move .five-d-one{
	opacity: 1;
	-webkit-transition:all 0.1s ease-in 1s; 
}
.slide-move .five-d-two{
	opacity: 1;
	-webkit-transition:all 0.2s ease-in 1.1s; 
}
.slide-move .five-d-eight{
	opacity: 1;
	-webkit-transition:all 0.1s ease-in 1.3s; 
}
.slide-move .five-d-three{
	opacity: 1;
	-webkit-transition:all 0.2s ease-in 1.4s; 
}
.slide-move .five-d-nine{
	opacity: 1;
	-webkit-transition:all 0.1s ease-in 1.6s; 
}
.slide-move .five-d-four{
	opacity: 1;
	-webkit-transition:all 0.2s ease-in 1.7s; 
}
.slide-move .five-d-ten{
	opacity: 1;
	-webkit-transition:all 0.1s ease-in 1.9s; 
}
.slide-move .five-d-five{
	opacity: 1;
	-webkit-transition:all 0.2s ease-in 2.0s; 
}
.slide-move .five-d-eleven{
	opacity: 1;
	-webkit-transition:all 0.1s ease-in 2.2s; 
}
.slide-move .five-h{
	opacity: 1;
	-webkit-transition:all 0.5s ease-in 2s; 
}
/* 第五页动画end */
/* 第六页动画start */
.slide-move .six-d-one{
	width: 40%;
	opacity: 1;
	left: 10%;
	top: 50%;
	-webkit-transition:all 0.5s ease-in 0.5s; 
}
.slide-move .six-d-two{
	width: 40%;
	opacity: 1;
	left: 52%;
	top: 50%;
	-webkit-transition:all 0.5s ease-in 1s; 
}
.slide-move .six-d-three{
	width: 40%;
	opacity: 1;
	left: 10%;
	top: 71%;
	-webkit-transition:all 0.5s ease-in 1.5s; 
}
.slide-move .six-d-four{
	width: 40%;
	opacity: 1;
	left: 52%;
	top: 71%;
	-webkit-transition:all 0.5s ease-in 2s; 
}

/* 第六页动画end */
/* 第七页动画start */
@-webkit-keyframes bigsmall-seven-one{
	0% { width: 0%; }	
	50% { width: 40%; }	
	100% { width: 26%; }
}
@-webkit-keyframes bigsmall-seven-two{
	0% { width: 0%; }	
	50% { width: 50%; }	
	100% { width: 40%; }
}
.slide-move .seven-d-one{
	width: 26%;
	-webkit-animation-name: bigsmall-seven-one;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;	
	-webkit-animation-delay: 1s;
	-webkit-transition:all 0s ease-in 1.5s;
}
.slide-move .seven-d-two{
	width: 40%;
	-webkit-animation-name: bigsmall-seven-two;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-delay: 2s;
	-webkit-transition:all 0s ease-in 2.5s;
}
/* 第七页动画end */
/* 第八页动画start */
@-webkit-keyframes bigsmall-eight-one{
	0% { width: 0%; }	
	50% { width: 50%; }	
	100% { width: 35%; }
}
@-webkit-keyframes bigsmall-eight-two{
	0% { width: 0%; }	
	50% { width: 50%; }	
	100% { width: 35%; }
}
.slide-move .eight-d-one{
	width: 35%;
	-webkit-animation-name: bigsmall-eight-one;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;	
	-webkit-animation-delay: 1s;
	-webkit-transition:all 0s ease-in 1.5s;
}
.slide-move .eight-d-two{
	width: 35%;
	-webkit-animation-name: bigsmall-eight-two;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-delay: 2s;
	-webkit-transition:all 0s ease-in 2.5s;
}
/* 第八页动画end */
/* 第九页动画start */
/* @-webkit-keyframes turn-one{
	0%   {-webkit-transform:rotateY(0deg);}
	100%  {-webkit-transform:rotateY(90deg);}
}
@-webkit-keyframes turn-two{
	0%   {-webkit-transform:rotateY(90deg);}
	100%  {-webkit-transform:rotateY(0deg);}
} */

.slide-move .nine-one{
	opacity:0;
	-webkit-transition:all 1.5s ease-out 0.3s; 
	/* -webkit-animation-name: turn-one;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-delay: 0.3s; */
}
.slide-move .nine-two{
	opacity: 1;
	-webkit-transition:all 2s ease-in 1.8s; 
	/* -webkit-animation-name: turn-two;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-delay: 1.5s; */
}
/* 第九页动画end */
/* 跳动图标动画 */
@-webkit-keyframes passdown
{
	0%   {bottom:4%;}
	12%   {bottom:3.8%;}
	24%  {bottom:3.6%;}
	38%  {bottom:3.4%;}
	50%  {bottom:3.2%;}
	62%  {bottom:3.4%;}
	75%  {bottom:3.6%;}
	88%  {bottom:3.8%;}
	100% {bottom:4%;}
}
.pub-btn{
	position: absolute;
	width: 10%;
	left: 45%;
	bottom: 4%;
	-webkit-animation-name: passdown;
	-webkit-animation-duration: 1.3s;
	-webkit-animation-iteration-count: infinite;
}
.one-slide-1{
	position: absolute;
}
#one-slide-img{
	-webkit-transform:rotate(-15deg);
	box-shadow:2px 5px 6px rgba(0,0,0,0.6);
	margin-top: 25px;
}
#two-slide-img{
	-webkit-transform:rotate(-15deg);
	box-shadow:2px 5px 6px rgba(0,0,0,0.6);
}
#three-slide-img{
	-webkit-transform:rotate(15deg);
	box-shadow:2px 5px 6px rgba(0,0,0,0.6);
	margin-top: 35px;
}
#four-slide-img{
	-webkit-transform:rotate(10deg);
	box-shadow:2px 5px 6px rgba(0,0,0,0.6);
	margin-top: 20px;
}
#five-slide-img{
	-webkit-transform:rotate(15deg);
	box-shadow:2px 5px 6px rgba(0,0,0,0.6);
	margin-top: 30px;
}
#six-slide-img{
	-webkit-transform:rotate(-15deg);
	box-shadow:2px 5px 6px rgba(0,0,0,0.6);
	margin-top: 35px;
}
#seven-slide-img{
	-webkit-transform:rotate(-10deg);
	box-shadow:2px 5px 6px rgba(0,0,0,0.6);
	margin-top: 30px;
}
#eight-slide-img{
	-webkit-transform:rotate(15deg);
	box-shadow:2px 5px 6px rgba(0,0,0,0.6);
	margin-top: 30px;
}
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){
    /* 兼容iphone 4 */
    .swiper-slide{
    	width: 320px;
    	height: 480px;
    }
	.pub-didi{
		bottom: -15%;
	}
	.two-slide-3, .three-slide-3, .four-slide-3, .five-slide-3{
		width: 15%;
	}  
	.slide-move .six-d-three{
		width: 40%;
		opacity: 1;
		left: 10%;
		top: 72%;
		-webkit-transition:all 0.5s ease-in 1.5s; 
	}
	.slide-move .six-d-four{
		width: 40%;
		opacity: 1;
		left: 10%;
		top: 72%;
		-webkit-transition:all 0.5s ease-in 1.5s; 
	}
}
