@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-05-22 15:31:11
 * @version $Id$
 */
*{padding:0;margin:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, input, q, b, dl, dt, dd, ol, ul, li, form, label, canvas {
  -webkit-user-select: text;
}
body{margin:0px; padding:0px;font-family:"\5FAE\8F6F\96C5\9ED1";color:#000;}
div{margin: 0px;padding: 0px}
html{background:#f2f2f4}
body,h1,h2,h3,h4,h5,h6,hr,p,
blockquote,dl,dt,dd,ul,ol,li,pre,
form,fieldset,legend,button,input,textarea,th,td{ margin:0;padding:0}
dl,dt,dd,ol,ul,li{ margin:0px; padding:0px; display:block; list-style:none;border: 0px}
html,body{-webkit-text-size-adjust:none;font-size:62.5%}
img{ border:none;}
a{ text-decoration:none;outline:none;color: #fff}
a:hover{ text-decoration:none;}
.clear{clear:both;}
.clearfix:after{content: ""; display: block; height:1%; clear: both; visibility:none;}
.clearfix {
  /* 触发 hasLayout */ 
  zoom: 1; 
}

.didi-content{

}

body{
  background-color:#f2f2f4;
}

.didi-title img{
	width: 100%
}

.tips {
  background-size:100% auto;
  padding-top:1.8em;
  text-align:center;
  opacity:1;
  z-index: 9999;
  -webkit-animation:ToptoA 0.6s linear infinite alternate;
  -moz-animation:ToptoA 0.6s linear infinite alternate;
  -o-animation:ToptoA 0.6s linear infinite alternate;
  -ms-animation:ToptoA 0.6s linear infinite alternate;
  animation:ToptoA 0.6s linear infinite alternate;
}

@-webkit-keyframes ToptoA {
  0% {
  -webkit-transform:translate(0,0);
}

100% {
  -webkit-transform:translate(0,10px);
  opacity:1
}
}

@-moz-keyframes ToptoA {
  0% {
  -moz-transform:translate(0,0);
}

100% {
  -moz-transform:translate(0,10px);
}
}

@-o-keyframes ToptoA {
  0% {
  -o-transform:translate(0,0);
}
100% {
  -o-transform:translate(0,10px);
}
}

@-ms-keyframes ToptoA {
  0% {
  -ms-transform:translate(0,0);
}
100% {
  -ms-transform:translate(0,10px);
}
}

keyframes ToptoA {
  0% {
  -webkit-transform:translate(0,0);
}

100% {
  -webkit-transform:translate(0,10px);
  opacity:1
}
}

.didi-gc{
	width: 80%;
	margin: 0px auto;
}

.didi-gc img{
	width: 100%
}


 /*路线信息*/
    
#addr_box {
    background: rgba(255, 255, 255, 0.9);
    margin:0px 14%;
    border: 2px solid #ff8903;
    border-radius: 8px;
    margin-top: -18px;
    position: relative;
}
#addr_box div {
    position: relative;
    background: #fff;
}

.didi-icon{
	position: absolute;
	left: 1px;
  top: 11px;
  left: 2.2em
}

.didi-icon img{
  width: 16px;
  height: 22px;
}

#addr_box input {
    border: none;
    font-size: 1.4rem;
    height: 30px;
    line-height: 30px;
    margin: 7px 0px;
    color: #999999;
    width:80%;
    margin-left:2.8em;
    outline: none;
    font-family:"\5FAE\8F6F\96C5\9ED1"
}

.p_start{
    border-bottom: 1px solid #e5e5e5;
    border-radius: 8px 8px 0px 0px;
}

.p_end{
    border-radius: 0px 0px 8px 8px;	
}


.dd-ui-sugs {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    border: 1px solid #d7d7d7;
    background-color: #fff;
    overflow-y: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.dd-ui-sugs>li {
    position: relative;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e9e9e9;
    color: #888;
    padding: 0 5%;
    font-size: 1.5rem;
    cursor: default;
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dd-ui-sugs>li>span {
    font-size: 1.2rem;
    color: #b3b3b3;
    padding: 0 4px;
}
.dd-ui-sugs>li:last-child {
    border-bottom: 0;
}
.dd-ui-sugs .expand {
    color: #ff8a01;
}
.dd-ui-sugs .noquery {
    color: #ccc;
}
.dd-ui-sugs .loading {
    color: #ccc;
}
.dd-ui-sugs .loading em {
    display: inline-block;
    background: url("/static/pinche/src/images/loading.gif") no-repeat;
    background-size: 14px 14px;
    width: 20px;
    background-position: 0 12px;
    line-height: 40px;
    opacity: 0.3;
    text-indent: -999em;
}
/*路线*/

.didi-tip{
  margin: 0px 14%
}

.didi-tip p{
  text-align: center;
  font-size: 1.2rem;
  color: #999;
  line-height: 17px;
  margin-top:8px
}


.didi-tip a,.didi-btn .make-btn{
  margin: 20px 0px;
  display: block;
  width: 100%;
  height: 44px;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 44px;
  color: #fff;
  background:#ff8903;
  border-radius: 8px;
}


#d-wrap .tip{
  font-size: 1.6rem !important
}

a[class^=btn-]{
  font-size: 1.6rem !important
}

@media (min-height: 481px){
.didi-tip a{
  margin: 30px 0px 0px 0px;
}
}

.color-ff8903{
  color: #ff8903
}

/*跳转页面*/
.didi{
  background: #fafafa;
  padding-bottom: 20px
}
.didi-logo{
  padding-top:3.0em;
  width:35%;
  margin: 0px auto;
}

.didi-logo img{
  width: 100%
}

.prize-title{
  font-size: 1.8rem;
  text-align: center;
  color: #666;
  margin-top:20px;
}

.didi-width{
  margin: 0px 17%
}

.didi-coupon{
  width:100%;
  margin: 0px auto;
  position: relative;
  margin-top:1.4rem;
}

.didi-coupon img{
  width:100%;
}

.didi-code{
  color: #666;
  font-size: 1.4rem;
  position: absolute;
  bottom:15px;
  width: 100%
}
.didi-code-copy{
  float: right;
  margin-right: 10px;
  color:#52b786
}

.didi-code-list{
  margin-left: 10px
}

.didi-btn{
  width: 100%;
  margin: 0px auto
}

@media (max-width: 321px){
   .didi-width{
    margin: 0px 13%
   }

    .didi-code{
     bottom: 15px;
   }
}

@media (min-width: 322px) and (max-width: 376px) {
   .didi-code{
     bottom: 16px;
   }
}

@media (min-width: 377px) and (max-width: 414px) {
   .didi-code{
     bottom:18px;
   }
}



.didi-line{
  height: 1px;
  background-color:#ccc;
  width:35%;
  display: block;
}

.lf{float: left;}
.rt{float: right;}

.didi-explain{
  position: relative;
  font-size: 1.2rem;
  color: #999;
  margin-top: 20px
}

.didi-explain-employ{
  position: absolute;
  left: 50%;
  margin-left: -24px;
  top: -8px
}

.didi-explain p{
  line-height: 20px;
  letter-spacing: 0.6px
}

@media (-webkit-device-pixel-ratio: 2){
    -webkit-span.didi-line{
      height: 0.5px
    }
}

/*@media (-webkit-min-device-pixel-ratio:3){
    span.didi-line{
      height: 0.333px
    }
}*/