@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img,
a img {
  border: none;
}
input,
textarea {
  outline-style: none;
  -webkit-appearance: none;
}
textarea {
  resize: none;
}
input,
textarea {
  border: none;
  -webkit-appearance: none;
  font-family: "Microsoft YaHei";
}
table {
  border-collapse: collapse;
}
textarea {
  resize: none;
  font-family: "Microsoft YaHei";
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: "Microsoft YaHei", "SimSun", "Arial Narrow", HELVETICA;
  line-height: 22px;
  -webkit-text-size-adjust: none;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 20px;
}
body {
  font-size: 20px;
  line-height: 1.5;
}
html,
body {
  height: 100%;
}
img {
  height: 100%;
  vertical-align: top;
}
body {
  background: #f0f0f0;
}
.main_body {
  height: 100%;
  text-align: center;
  *zoom: 1;
}
.main_body:before,
.main_body:after {
  display: table;
  content: "";
  line-height: 0;
}
.main_body:after {
  clear: both;
}
.top_log {
  height: 1.35rem;
  margin: 1.35rem 0 0;
}
.top_log img {
  height: 1.35rem;
}
.content_main {
  margin-top: 2rem;
}
.mainDiv {
  height: 8.8rem;
  width: 8.8rem;
  margin: 0 auto;
  position: relative;
}
.mainDiv span {
  position: absolute;
  height: 8.8rem;
  width: 8.8rem;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
  -webkit-animation-name: loadingSpin;
  -ms-animation-name: loadingSpin;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
}
.mainDiv span:nth-child(5) {
  background-image: url(/static/pinche/src/images/newparty/fb_fche_01.png);
  -webkit-animation-duration: 2s;
  -ms-animation-duration: 2s;
}
.mainDiv span:nth-child(4) {
  background-image: url(/static/pinche/src/images/newparty/fb_fche_02.png);
  -webkit-animation-duration: 4s;
  -ms-animation-duration: 4s;
}
.mainDiv span:nth-child(3) {
  background-image: url(/static/pinche/src/images/newparty/fb_fche_03.png);
  -webkit-animation-duration: 6s;
  -ms-animation-duration: 6s;
}
.mainDiv span:nth-child(1) {
  background-image: url(/static/pinche/src/images/newparty/fb_fche_04.png);
  -webkit-animation-duration: 8s;
  -ms-animation-duration: 8s;
}
.mainDiv i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/static/pinche/src/images/newparty/fb_fche_01_g.png) no-repeat;
  background-size: auto 100%;
}
.sogaDiv {
  height: 6.8rem;
  margin-top: 1.3rem;
}
.iwBtn {
  height: 2.4rem;
  line-height: 2.4rem;
  border: 1px solid #ff8903;
  width: 10.9rem;
  display: inline-block;
  border-radius: 10px;
  margin: 1rem 0 1.2rem;
}
.bottomdiv {
  height: 2.075rem;
  color: #666666;
  text-align: center;
  margin-bottom: 0.2rem;
}
.bottomdiv p:first-child {
  font-size: 0.6rem;
}
.bottomdiv p:last-child {
  font-size: 0.5rem;
}
.have_log {
  margin: 0.9rem 1.55rem 1rem;
  background: #fff;
  box-shadow: 0 4px 8px rgba(11, 3, 6, 0.1);
  padding: 1.6rem 0 3.5rem;
  border-radius: 16px;
  display: none;
}
.top_img {
  height: 5.45rem;
  margin-bottom: 1.05rem;
}
.normalP {
  color: #666666;
  font-size: 0.8rem;
}
.padd_p {
  margin: 0 1.25rem;
}
.padd_p input {
  display: inline-block;
  width: 100%;
  border-radius: 8px;
  margin-top: 0.75rem;
}
.padd_p .nomal_inp {
  padding: 0.8rem 0;
  text-indent: 0.75rem;
  border: 1px solid #ff8903;
  font-size: 0.8rem;
}
.padd_p .err_inp {
  border: 1px solid #ff0000;
}
.padd_p .sub_mit {
  background: #ff8903;
  padding: 0.8rem 0;
  color: #fff;
  text-align: center;
  font-size: 1rem;
}
.padd_p .wait_sub {
  background: #c5c5c5;
}
.txt_p {
  color: #878787;
  font-size: 0.6rem;
  line-height: 158.33%;
  margin: 1.2rem 1.3rem 0 1.6rem;
  text-align: left;
}
.showEnd {
  margin: 0.9rem 1.55rem 1rem;
  background: #fff;
  box-shadow: 0 4px 8px rgba(11, 3, 6, 0.1);
  border-radius: 8px;
  padding: 1.1rem 0 0.675rem;
  text-align: center;
  color: #666666;
  position: relative;
}
.showEnd h2 {
  font-size: 0.75rem;
  font-weight: normal;
  padding-top: 0.75rem;
}
.showEnd h3 {
  font-size: 0.9rem;
  margin: 0.75rem 0;
}
.showEnd .normal_txt {
  font-size: 0.6rem;
  padding: 0 2.5rem;
  text-align: left;
  margin-bottom: 1.088rem;
}
.showEnd .normal_txt1 {
  font-size: 0.6rem;
  padding: 0 2.5rem;
  margin: 0.425rem 0 0.65rem;
}
.showEnd .have_quan {
  height: 4.95rem;
}
.showEnd .have_quan img {
  height: 100%;
}
.showEnd .txt_org {
  color: #ff8903;
}
.showEnd .have_two {
  padding: 0 1.475rem;
}
.showEnd .have_two a {
  color: #ff8903;
  border: 1px solid #ff8903;
  border-radius: 8px;
  padding: 0.5rem 0;
  text-align: center;
  display: inline-block;
  width: 46%;
  font-size: 0.75rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.showEnd .have_two .left_btn {
  margin-right: 6%;
}
.showEnd .orang_big {
  font-size: 6.25rem;
  color: #ff8903;
  line-height: 128.8%;
}
.showEnd .startP {
  font-size: 0.65rem;
  color: #333333;
  margin: 0 0.95rem;
  padding: 1rem 0 0;
}
.showEnd h1 {
  font-size: 0.725rem;
  line-height: 186.11%;
}
.showEnd .grey_col {
  font-size: 0.65rem;
  color: #999999;
}
.showEnd .cont_map {
  height: 1.15rem;
  margin: 0.325rem 0 0.35rem;
}
.showEnd .cont_map a {
  height: 100%;
  display: inline-block;
  background: #fff;
}
.showEnd .cont_map img {
  height: 1.15rem;
}
.showEnd .have_one {
  padding: 0 1.475rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.showEnd .have_one .left_btn,
.showEnd .have_one .left_btn1 {
  color: #ff8903;
  background: #ff8903;
  border: 1px solid #ff8903;
  border-radius: 4px;
  padding: 0.5rem 0;
  text-align: center;
  display: inline-block;
  font-size: 0.75rem;
  width: 100%;
  color: #fff;
}
.showEnd .top_bg,
.showEnd .end_bg {
  height: 1.075rem;
  background: url(/static/pinche/src/images/newparty/fb_fche_06.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.showEnd .end_bg {
  height: 0.675rem;
  background: url(/static/pinche/src/images/newparty/fb_fche_07.png) no-repeat;
  background-size: 100% 100%;
  top: auto;
  bottom: 0;
}
.showEnd .mt_user {
  background: url(/static/pinche/src/images/newparty/fb_fche_08.png) no-repeat;
  background-size: 100% 100%;
}
.showEnd .no_bg {
  background: none;
  margin-bottom: 2.8rem;
  position: relative;
  z-index: 100;
}
.showEnd .no_bg h2 {
  padding-top: 0.3rem;
  color: #ff8903;
  font-size: 0.85rem;
  font-weight: bold;
}
.showEnd .have_ico {
  height: 2.2rem;
}
.have_bg {
  background: #fafafa url(/static/pinche/src/images/newparty/fb_fche_11.png) center bottom no-repeat;
  background-size: 100% auto;
  margin-bottom: 0;
  padding-bottom: 2.467rem;
}
.marg_top {
  margin-top: 1.75rem;
}
.have_matop {
  margin-top: 0.875rem;
}
.have_fc {
  height: 6.875rem;
}
.have_fc img {
  height: 6.875rem;
}
.zhezhao_div {
  height: 4.075rem;
  background: url(/static/pinche/src/images/newparty/fb_fche_11.png) center bottom no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: -1.5%;
  width: 103%;
}
.ptwrite {
  margin-bottom: 0;
}
.ptwrite .zhezhao_div {
  z-index: 200;
}
.ptwrite .no_bg {
  margin-bottom: 0;
}
.mt_bttom {
  margin-bottom: 0;
}
.border_div {
  border: 1px solid #E9DFD5;
  padding: 0.2rem;
  position: relative;
  margin: 0.7rem 1.4rem;
}
.border_div i {
  width: 6px;
  height: 6px;
  border: 1px solid #E9DFD5;
  position: absolute;
}
.border_div .corner01 {
  left: -8px;
  top: -8px;
}
.border_div .corner02 {
  right: -8px;
  top: -8px;
}
.border_div .corner03 {
  bottom: -8px;
  left: -8px;
}
.border_div .corner04 {
  bottom: -8px;
  right: -8px;
}
.showtxt {
  border: 1px solid #E9DFD5;
  padding: 0.325rem 0 0.9rem;
  color: #333333;
  text-align: center;
  background: #f5f5f5;
  font-size: 0.75rem;
  font-weight: bold;
}
.showtxt li {
  line-height: 1.66;
}
.showtxt .topli {
  font-size: 0.9rem;
  line-height: 2.83;
}
.showtxt .sm_li {
  margin-top: 1rem;
  font-size: 0.6rem;
  font-weight: normal;
}
.showtxt .sm_li span {
  color: #999999;
}
.write_ul {
  margin: 0 1.2rem;
  padding: 1rem 0.8rem;
  color: #666;
}
.write_ul li {
  border-bottom: 1px dashed #b0b0b0;
  line-height: 2;
  font-size: 0.6rem;
  margin-bottom: 0.65rem;
}
.write_ul .write_in {
  width: 100%;
  text-indent: 8px;
  font-size: 0.7rem;
}
.write_ul .shuming {
  border-bottom: none;
  text-align: left;
  padding-left: 8px;
}
.write_ul .shuming .bot_bor {
  border-bottom: 1px dashed #b0b0b0;
  width: 7.5rem;
  margin-left: 4px;
  display: inline-block;
}
.write_ul .shuming .shu_inp {
  width: 100%;
  font-size: 0.7rem;
}
.write_txt {
  font-size: 0.65rem;
  color: #999999;
  margin: 1rem 1.475rem 0;
  padding-bottom: 1.15rem;
}
.write_txt span {
  color: #ff8903;
}
.pt_padding {
  padding-bottom: 3.5rem;
}
.show_count {
  color: #999999;
  font-size: 0.6rem;
  margin-bottom: 0.625rem;
}
.show_count span {
  color: #ff8903;
}
.newmar_top {
  margin-top: 1.35rem;
}
.hongbao_top {
  color: #666666;
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 1.125rem;
  margin-top: 1.125rem;
}
.have_hongb {
  height: 5rem;
  text-align: center;
  margin-bottom: 3rem;
}
.have_hongb img {
  height: 5rem;
}
.ling_hb,
.want_xieshi {
  margin: 0 2.25rem;
}
.ling_hb {
  padding-top: 0.5rem;
}
.tel_ling {
  font-size: 0.7rem;
  border: 1px solid #ff8903;
  padding: 0.7rem 1.2rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 6px;
}
.ling_hb .err_inp {
  border: 1px solid #ff0000;
}
.get_hb,
.me_to {
  background: #ff8903;
  border: 1px solid #ff8903;
  border-radius: 4px;
  padding: 0.5rem 0;
  text-align: center;
  display: inline-block;
  font-size: 0.75rem;
  width: 100%;
  color: #fff;
  margin: 0.95rem 0 0.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.dedao_hb {
  color: #878787;
  font-size: 0.6rem;
  text-align: left;
}
.dedao_hb a {
  color: #ff8903;
  text-decoration: underline;
}
.ling_hb .wait_sub {
  background: #c5c5c5;
}
a[class^=btn-] {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 36px;
  line-height: 36px;
  border-radius: 5px;
  font-size: 0.8rem;
  text-decoration: none;
  cursor: default;
  background-clip: padding-box;
}
#d-wrap {
  position: fixed;
  z-index: 9999;
  border-radius: 5px;
  padding: 0;
  text-align: center;
}
#d-wrap .confirm,
#d-wrap .alert {
  padding: 0px 6%;
}
#d-wrap .icon {
  margin: 36px 0 10px;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #f0f0f0;
  background-size: 60px 60px;
  border-radius: 50%;
  line-height: 60px;
}
#d-wrap .tip {
  line-height: 1.9rem;
  font-size: 0.8rem!important;
}
#d-wrap .btns {
  padding: 16px 0;
}
.btn-orange {
  background-color: #ff8903;
  color: #fff;
}
#d-wall {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 9998;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
@-webkit-keyframes loadingSpin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-ms-keyframes loadingSpin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}
@keyframes loadingSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
