@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img,
a img {
  border: none;
}
input,
textarea {
  outline-style: none;
  -webkit-appearance: none;
}
textarea {
  resize: none;
}
input,
textarea {
  border: none;
  -webkit-appearance: none;
  font-family: "Microsoft YaHei";
}
table {
  border-collapse: collapse;
}
textarea {
  resize: none;
  font-family: "Microsoft YaHei";
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: "Microsoft YaHei", "SimSun", "Arial Narrow", HELVETICA;
  line-height: 22px;
  -webkit-text-size-adjust: none;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 20px;
}
body {
  font-size: 20px;
  line-height: 1.5;
}
body {
  background: #feffff;
}
.main_div {
  padding-bottom: 2.2rem;
}
.main_top {
  height: 9.575rem;
  background: url(/static/pinche/src/images/orageday/ora_img_11.jpg) center top no-repeat;
  background-size: 100% 100%;
  color: #666666;
}
.main_top .main_topul {
  padding: 1rem 0 0;
  text-align: center;
  height: 6.85rem;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.main_top .main_topul li {
  vertical-align: middle;
}
.main_top .topul_01 {
  height: 3.05rem;
  position: relative;
}
.main_top .topul_01 .left_s {
  height: 3.05rem;
  display: inline-block;
  position: relative;
}
.main_top .topul_01 .link_btn {
  position: absolute;
  right: 2.4%;
  top: 0;
  display: inline-block;
  padding: 0 0.3rem;
  border: 1px solid #666666;
  border-radius: 10px;
  font-size: 0.55rem;
  color: #666666;
}
.main_top .topul_01 img {
  height: 3.05rem;
  border-radius: 50%;
}
.main_top .topul_01 i {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  display: inline-block;
  bottom: 0;
  right: 0;
}
.main_top .topul_01 .mr_i {
  background: url(/static/pinche/src/images/orageday/ora_img_09.png) no-repeat;
  background-size: 100%;
}
.main_top .topul_01 .miss_i {
  background: url(/static/pinche/src/images/orageday/ora_img_10.png) no-repeat;
  background-size: 100%;
}
.main_top .topul_02 h1 {
  font-size: 0.8rem;
  font-style: normal;
  line-height: 1.4rem;
}
.main_top .topul_02 p {
  height: 0.75rem;
}
.main_top .topul_02 p a {
  height: 0.75rem;
  display: inline-block;
}
.main_top .topul_02 p img {
  height: 0.75rem;
  vertical-align: top;
}
.main_top .topul_02 .rz_cz {
  display: inline-block;
  font-size: 0.45rem;
  padding: 0 0.4rem;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
}
.main_top .topul_03 {
  width: 40.54%;
  text-align: right;
  padding-right: 4%;
}
.main_top .topul_03 h1 {
  white-space: nowrap;
  font-size: 1rem;
  font-style: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main_top .topul_03 h1 span {
  font-size: 0.8rem;
}
.main_top .topul_03 h2 {
  font-size: 0.6rem;
  font-style: normal;
  line-height: 1.5rem;
}
.main_top .topul_03 p a {
  color: #fff;
  font-size: 0.45rem;
}
.show_tab {
  font-size: 0;
  height: 2.725rem;
}
.show_tab li {
  width: 50%;
  display: inline-block;
  text-align: center;
  height: 100%;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.show_tab .top {
  font-size: 0.8rem;
  line-height: 1.3;
  padding-top: 0.3rem;
}
.show_tab .botom {
  font-size: 0.45rem;
  line-height: 1.22;
}
.show_tab .hover {
  border-bottom: 4px solid #ff8903;
}
.show_tab .hover .top,
.show_tab .hover .botom {
  color: #ff8903;
}
.rwinfo_div {
  background: #fff;
  margin: 0.85rem 4%;
  padding: 0.77rem 7% 1.4rem;
  color: #333333;
  border-radius: 6px;
}
.rwinfo_div .rw_ul {
  font-size: 0;
  margin-top: 0.9rem;
  padding-bottom: 0.9rem;
  border-bottom: 1px solid #e5e5e5;
}
.rwinfo_div .rw_ul li {
  width: 50%;
  display: inline-block;
  text-align: center;
}
.rwinfo_div .rw_ul li:last-child {
  padding-left: 5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.rwinfo_div .rw_ul li:last-child:before {
  content: '';
  width: 1px;
  height: 80%;
  position: absolute;
  left: 0;
  background: #e7e7e7;
  top: 10%;
}
.rwinfo_div .rw_ul .left_span {
  float: left;
  width: 1.95rem;
  height: 1.95rem;
  background: #fd6345;
  border-radius: 50%;
  margin-right: 0.25rem;
}
.rwinfo_div .rw_ul .right_div {
  overflow: hidden;
}
.rwinfo_div .rw_ul .right_div h1 {
  font-size: 0.7rem;
}
.rwinfo_div .rw_ul .right_div p {
  font-size: 0.8rem;
  color: #ff8a04;
}
.rwinfo_div .show_jl {
  font-size: 0.75rem;
  text-align: center;
  font-weight: bold;
  margin: 0.65rem 0;
}
.rwinfo_div .show_txt {
  text-align: center;
  font-size: 0.8rem;
  color: #ff8a04;
}
.rwinfo_div .show_jump {
  text-align: center;
  margin: 0.3rem 0;
}
.rwinfo_div .show_jump a {
  color: #666666;
  font-size: 0.45rem;
}
.rwinfo_div .ck_rw_ul {
  border-bottom: none;
  padding-bottom: 0;
}
.rwinfo_div .ck_showtxt {
  padding: 0.6rem 0 0.2rem;
  font-size: 0.8rem;
  color: #333333;
  text-align: center;
  line-height: 1.5rem;
}
.rwinfo_div .ck_showtxt span {
  color: #ff8903;
}
.rwinfo_div .show_jlsm {
  text-align: center;
  margin-bottom: 0.6rem;
  line-height: 1.1;
}
.rwinfo_div .show_jlsm a {
  color: #ff7102;
  font-size: 0.55rem;
}
.xhb_div_03 {
  color: #999999;
  font-size: 0.6rem;
  position: relative;
  text-align: center;
}
.xhb_div_03 span {
  padding: 0 0.45rem;
  display: inline-block;
  color: #999999;
  font-size: 0.6rem;
  background: #ffffff;
  position: relative;
}
.xhb_div_03:before {
  content: '';
  border-top: 1px solid #e5e5e5;
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
}
.rwwc_info {
  margin-top: 0.85rem;
}
.rwwc_info .top_h1 {
  text-align: center;
  font-size: 0.8rem;
  margin: 0.65rem 0 0.25rem;
  font-weight: normal;
}
.rwwc_info .top_h1 span {
  color: #ff8a04;
}
.rwwc_info .top_ntxt {
  color: #999999;
  font-size: 0.6rem;
  text-align: center;
  margin-bottom: 0.85rem;
}
.rwinfo_hide {
  display: none;
}
.show_info_01 {
  display: none;
}
.showtips {
  font-size: 0.8rem;
  text-align: center;
  height: 2rem;
  line-height: 2rem;
  display: none;
}
.show_list li {
  padding: 0.45rem 0;
  border-bottom: 1px dashed #d1d1d1;
  font-size: 0;
  vertical-align: middle;
}
.show_list li:last-child {
  border-bottom: none;
}
.show_list .img_s {
  width: 15.2%;
  height: 2rem;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  padding-right: 0.25rem;
}
.show_list .img_s img {
  width: 100%;
  border-radius: 50%;
}
.show_list .mcrz_s {
  width: 33.22%;
  display: inline-block;
  vertical-align: middle;
}
.show_list .mcrz_s em {
  font-size: 0.45rem;
  color: #666666;
  margin-bottom: 0.1rem;
  display: block;
  font-style: normal;
}
.show_list .mcrz_s img {
  height: 0.75rem;
}
.show_list .info_s {
  width: 20.5%;
  display: inline-block;
  vertical-align: middle;
  font-size: 0.6rem;
  color: #666666;
}
.show_list .end_s {
  width: 31%;
  display: inline-block;
  color: #666666;
  font-size: 0.45rem;
  vertical-align: middle;
  text-align: center;
}
.show_list .end_s em {
  font-size: 1rem;
  display: block;
  font-style: normal;
  color: #999999;
  text-align: center;
}
.show_list .end_s em span {
  font-size: 0.6rem;
}
.show_list .end_s i {
  font-size: 0.4rem;
  font-style: normal;
  color: #999999;
  display: block;
  text-align: center;
}
.show_list .end_s .orangem {
  color: #ff8903;
  vertical-align: bottom;
}
.show_list .ck_end_s {
  width: 51.5%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 0.3rem;
  text-align: right;
  color: #666666;
  font-size: 0.6rem;
  vertical-align: middle;
}
.top_banner {
  height: 1.95rem;
}
.top_banner img {
  height: 2.075rem;
}
.share_body {
  background: #fff;
}
.share_top {
  height: 7.775rem;
  background: url(/static/pinche/src/images/orageday/ora_img_03.jpg) center top no-repeat;
  background-size: 100% 100%;
}
.top_cont {
  width: 56%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.top_cont .cont_top {
  margin-top: 1.1rem;
  vertical-align: middle;
  *zoom: 1;
}
.top_cont .cont_top:before,
.top_cont .cont_top:after {
  display: table;
  content: "";
  line-height: 0;
}
.top_cont .cont_top:after {
  clear: both;
}
.top_cont .cont_top .left_s {
  display: inline-block;
  position: relative;
  height: 3.3rem;
}
.top_cont .cont_top .left_s img {
  height: 3.3rem;
  border-radius: 50%;
}
.top_cont .cont_top .left_s i {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  display: inline-block;
  bottom: 0;
  right: 0;
}
.top_cont .cont_top .left_s .mr_i {
  background: url(/static/pinche/src/images/orageday/ora_img_09.png) no-repeat;
  background-size: 100%;
}
.top_cont .cont_top .left_s .miss_i {
  background: url(/static/pinche/src/images/orageday/ora_img_10.png) no-repeat;
  background-size: 100%;
}
.top_cont .cont_top .right_d {
  overflow: hidden;
  text-align: left;
}
.top_cont .cont_top .right_d p {
  white-space: nowrap;
}
.top_cont .cont_top .right_d p:nth-child(1) {
  font-size: 0.8rem;
}
.top_cont .cont_top .right_d p:nth-child(2) {
  font-size: 0.6rem;
}
.top_cont .cont_01 {
  font-size: 0.8rem;
  color: #333333;
  font-weight: bold;
}
.top_cont .cont_02 {
  font-size: 0.7rem;
  color: #333333;
}
.shar_bot {
  text-align: center;
}
.shar_bot .bot_p_01 {
  font-size: 0.8rem;
  color: #666666;
  margin: 2rem 0 1rem;
}
.shar_bot .bot_p_01 span {
  color: #ff8903;
}
.shar_bot .bot_p_02 {
  margin: 0 auto 3.35rem;
  background: url(/static/pinche/src/images/orageday/ora_img_08.png) center top no-repeat;
  background-size: auto 100%;
  height: 4.625rem;
}
.shar_bot .bot_p_03 {
  font-size: 1.25rem;
  color: #ff7f01;
  line-height: 3.7;
}
.shar_bot .bot_p_04 {
  font-size: 0.75rem;
  color: #c6a77f;
}
.shar_bot .bot_p_05 {
  width: 81%;
  margin: 0 auto 1.25rem;
}
.shar_bot .bot_p_05 a {
  background: #ff8900;
  display: block;
  padding: 0.45rem 0;
  border-radius: 8px;
  color: #fff;
  font-size: 0.8rem;
}
.shar_bot .bot_p_06 {
  vertical-align: middle;
  margin-bottom: 0.5rem;
}
.shar_bot .bot_p_06 img {
  height: 0.8rem;
  margin-right: 0.2rem;
  vertical-align: middle;
}
.shar_bot .bot_p_06 a {
  color: #999999;
  font-size: 0.7rem;
}
.shar_bot .bot_p_07 {
  font-size: 0.9rem;
  color: #999999;
  margin-bottom: 1.45rem;
}
.fix_div {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  background: #fff;
  left: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
.fix_div .wxShare {
  display: block;
  height: 0.7rem;
  padding: 0.6rem 0;
  background: #fff6d9;
  border: 1px solid #ffe6d0;
}
.fix_div .wxShare img {
  height: 0.7rem;
  vertical-align: top;
}
.fix_div .nativShare {
  display: none;
  height: 1.75rem;
  padding: 0.6rem 0;
  background: #fff;
}
.fix_div .nativShare img {
  height: 1.75rem;
  vertical-align: top;
}
.fix_div .bot_p_06 {
  vertical-align: middle;
  padding: 0.2rem 0 0.4rem;
}
.fix_div .bot_p_06 img {
  height: 0.8rem;
  margin-right: 0.2rem;
  vertical-align: middle;
}
.fix_div .bot_p_06 a {
  color: #999999;
  font-size: 0.7rem;
}
.xq_div {
  width: 86%;
  margin: 0 auto;
  overflow: hidden;
}
.xq_div h1 {
  font-size: 0.7rem;
  color: #333333;
  margin: 1rem 0 0.3rem;
}
.xq_div p {
  font-size: 0.6rem;
  color: #666666;
  line-height: 1.9;
}
.top_img_d {
  text-align: center;
  margin-top: 1.4rem;
}
.top_img_d img {
  height: 2.825rem;
}
