div,
p,
dl,
dd,
a,
b,
u,
em,
input,
textarea,
button,
option,
select,
form,
section,
label,
span,
td,
li,
nav,
footer,
body,
ul,
i {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  word-wrap: break-word;
  word-break: break-all;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}
input,
textarea,
option,
select,
button {
  font-size: 1em;
  -webkit-text-size-adjust: none;
}
body {
  overflow-x: hidden;
  background: #fcfcfc;
}
img,
video,
nav,
textarea,
input,
button {
  border: 0;
  vertical-align: bottom;
}
body,
td {
  font-size: .9em;
}
a,
a:visited {
  text-decoration: none;
  -webkit-touch-callout: none;
}
html,
body {
  height: 100%;
}
/* 清除浮动 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/* IE < 8 */

.app_download_select {
  position: absolute;
  position: fixed;
  display: block;
  width: 270px;
  height: 163px;
  top: 50%;
  left: 50%;
  color: #000;
  z-index: 10001;
  border-radius: 7px;
  padding: 0px;
  border: 1px #aaa solid;
  margin: -110px -133px;
}
.app_download_select > * {
  background-color: #e2e1e7;
}
@media only screen and (min-width: 321px) {
  .app_download_select {
    top: 140px;
    margin: 0px -133px;
  }
}
.app_download_select .app_download_top {
  height: 30px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.app_download_select .app_download_top .app_download_icon {
  display: inline-block;
  position: absolute;
  height: 66px;
  width: 66px;
  background-image: url(../img/icons_part2.png);
  background-size: 320px;
  left: 50%;
  top: 0px;
  margin: -33px;
}
.app_download_select .app_download_top .app_downlaod_close {
  color: #3D3D3D;
  width: 30px;
  display: inline-block;
  height: 30px;
  float: right;
  position: relative;
}
.app_download_select .app_download_top .app_downlaod_close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 17px;
  background-color: #78787a;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 6px;
  left: 14px;
}
.app_download_select .app_download_top .app_downlaod_close:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 17px;
  background-color: #78787a;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: 6px;
  left: 14px;
}
.app_download_select .app_download_title {
  font-size: 15px;
  line-height: 22px;
  color: #161617;
  height: 82px;
  padding: 20px 40px;
  text-align: center;
}
.app_download_select .app_downlaod {
  background: #d7d6db;
  color: #2e87ec;
  font-weight: bold;
  width: 100%;
  height: 50px;
  margin: 0px;
  padding: 0px;
  line-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #9b9b9e;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.download_masklayer {
  background: #000;
  opacity: .6;
  opacity: .55;
  width: 100%;
  height: 100%;
  z-index: 10000;
  position: absolute;
  position: fixed;
  top: 0px;
  left: 0px;
}


/**
 * 适配
 */
/*如果用height 100% 在note3下不显示*/
.weixin .inline_player .fullscreen {
  height: 93%;
}
/* 微信内去掉播放器各种动画 */
.weixin .player .slider_bar.hide,
.weixin .player .slider_bar,
.weixin .video_title.hide,
.weixin .video_title,
.weixin .play_pause_con {
  transition: none!important;
  -moz-transition: none!important;
  -webkit-transition: none!important;
}
/* 播放器高度适配 */
.player_scope {
  position: relative;
  height: 200px;
}
.android .inline_player .slider_bar,
.android .show_slider_bar .slider_bar {
  display: block;
}
.iphone .player video {
  height: 1px;
}
@media only screen and (min-width: 384px) {
  .player_scope {
    height: 216px;
  }
}
@media only screen and (min-width: 480px) {
  .player_scope {
    height: 270px;
  }
}
@media only screen and (min-width: 600px) {
  .player_scope {
    height: 338px;
  }
}
@media only screen and (min-width: 768px) {
  .player_scope {
    height: 432px;
  }
}

/**
 * 最大化、最小化、横坚屏 (全屏给html节点添加class position_fullscreen)
 */
.slider_bar .controllers {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.controllers > div {
  z-index: 10;
  position: relative;
  float: left;
  height: 100%;
}
/* 全屏缩屏按钮 */
.fullscreen,
.shrinkscreen {
  display: none;
  width: 50px;
}
.fullscreen span,
.shrinkscreen span {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(http://static.xiaojukeji.com/pinche/release/component_modules/didi-component-ddplayer/css_player/img/expand_882b58e.png);
  background-repeat: no-repeat;
  background-size: 20px 41px;
  background-position: 0 0;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
}
.shrinkscreen span {
  background-position: 0 -20px;
  width: 22px;
  height: 22px;
  margin: -11px 0 0 -11px;
}
.inline_player .fullscreen,
.inline_player .shrinkscreen {
  display: block;
  opacity: 1;
}
.position_fullscreen .player {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100 !important;
}
.position_fullscreen .player .video {
  background-color: #000;
}

.player.def_ctrl .video_title {
  display: none!important;
}
.player.def_ctrl .poster {
  display: none!important;
}
.player.def_ctrl .player_controls {
  display: none!important;
}
.player.def_ctrl .quality_button {
  display: none!important;
}
.player.def_ctrl .mask-layer {
  display: none!important;
}
.player.def_ctrl .appdl_download {
  display: none!important;
}

/**
 * 播放背景图，加载图、暂停图等换图行为
 */
/* 播放器上面的背景图 */
.player .poster {
  opacity: 1;
  -webkit-transition: opacity 500ms;
  background-size: cover;
}
/* 播放器底部边框 */
.player .poster:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.4);
}
/* 播放器上面的封面图 */
.player .cover {
  float: right;
  width: 50%;
  height: 100%;
  background: rgba(80, 80, 80, 0.4);
  border-left: 1px solid #000;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.1), 0 0 8px #000000;
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.1), 0 0 8px #000000;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.player .poster.hidden {
  opacity: 0;
}
.player_controls,
.player .poster {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  cursor: pointer;
}

/**
 * 播放器容器&video
 */
.player {
  position: relative;
  overflow: hidden;
  background-size: 100%;
}
.player video,
.player object,
.player embed {
  width: 100%;
  height: 100%;
  position: absolute;
}
.player .player_main,
.player .video {
  width: 100%;
  height: 100%;
  z-index: 9;
}
.player .video {
  background-color: #000;
}

/**
 * 播放、暂停按钮 & loading
 */
/*  播放暂停loading style */
.mid {
  width: 100%;
  height: 100%;
}
/* 灰色方格播放按钮样式 start */
.mid b {
  background-image: url(http://static.xiaojukeji.com/pinche/release/component_modules/didi-component-ddplayer/css_player/img/playWite_2aa18cd.png);
  position: absolute;
  top: 50%;
  left: 50%;
  background-size: 90px;
}
.mid > span {
  position: absolute;
  height: 56px;
  top: 50%;
  left: 50%;
  background: rgba(38, 39, 40, 0.6);
}
.mid .mid_play {
  width: 80px;
  margin: -28px -40px;
  border-radius: 3px;
}
.mid .mid_play b {
  width: 26px;
  height: 34px;
  margin: -17px -11px;
}
/* 灰色方格播放按钮样式 start */
/* 增加圆圈播放按钮样式 start */
.mid .mid_play {
  background-image: url(http://static.xiaojukeji.com/pinche/release/component_modules/didi-component-ddplayer/css_player/img/playCircle_83e595f.png);
  background-repeat: no-repeat;
  background-size: 110px 72px;
  background-position: 12px 13px;
  width: 92px;
  height: 92px;
  margin: -49px 0 0 -46px;
  background-color: transparent;
}
.mid .mid_play b {
  width: 30px;
  height: 36px;
  border: 0;
  background-image: url(http://static.xiaojukeji.com/pinche/release/component_modules/didi-component-ddplayer/css_player/img/playCircle_83e595f.png);
  background-position: -75px 0px;
  background-repeat: no-repeat;
  background-size: 110px 72px;
}
/* 增加圆圈播放按钮样式 end */
.mid .mid_rewind_forward {
  width: 150px;
  margin: -28px -75px;
  border-radius: 3px;
}
.mid .mid_rewind_forward b {
  width: 26px;
  height: 34px;
  margin: -18px -45px;
  display: none;
}
.mid_rewind_forward.forward b.mid_forward {
  display: block;
}
.mid_rewind_forward.rewind b.mid_rewind {
  display: block;
}
.mid_rewind_forward b.mid_forward {
  background-position: -30px 0px;
}
.mid_rewind_forward b.mid_rewind {
  background-position: -61px 0px;
}
.mid_rewind_forward .mid_time {
  color: #FD8926;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -12px -4px;
  font-size: 20px;
}
.left_btn_play b.state_play {
  background-position: 0 0 !important;
}
.left_btn_play {
  position: absolute;
  width: 60px;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.left_btn_play > div {
  width: 100%;
  height: 100%;
}
.player_controls .left_btn_play b.state_play {
  background-position: 0 0 !important;
}
.player_controls .left_btn_play b {
  position: absolute;
  background-image: url(http://static.xiaojukeji.com/pinche/release/component_modules/didi-component-ddplayer/css_player/img/play_89cb550.png);
  background-repeat: no-repeat;
  background-size: 17px 50px;
  display: block;
  border: 0;
  width: 26px;
  height: 26px;
  left: 50%;
  top: 50%;
  margin: -12px 0 0 -7px;
  background-position: 0px -27px;
}

/**
 * 播放进度条/打点/拖动//时间更新
 */
/* 底部进度条容器 */
.player .slider_bar {
  border-top: 1px solid #000;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0px;
  transition: bottom 1s;
  -moz-transition: bottom 1s;
  -webkit-transition: bottom 1s;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(100, 100, 100, 0.8)), to(rgba(10, 10, 10, 0.8)));
  background: rgba(38, 39, 40, 0.8);
  display: none;
}
.player .slider_bar.hide {
  bottom: -40px;
  transition: bottom 1s;
  -moz-transition: bottom 1s;
  -webkit-transition: bottom 1s;
}
.android .inline_player .slider_bar {
  display: block;
}
.action_trackBar {
  height: 100%;
  margin: 0 40px 0 57px;
}
.trackbar {
  position: absolute;
  left: 66px;
  right: 55px;
  top: 24px;
  height: 1px;
  background: #67686b;
  display: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.inline_player .trackbar {
  display: block;
  z-index: 1;
}
.trackbar b {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  max-width: 100%;
}
.trackbar .buffered {
  background: rgba(255, 255, 255, 0.15);
}
.trackbar .time_points {
  height: 1px;
  z-index: 10;
}
.trackbar .time_points em {
  display: inline-block;
  width: 3px;
  height: 1px;
  background-color: #ECE8E8;
  position: absolute;
  top: 0px;
}
.trackbar .played {
  background: #FD8926;
  height: 1px;
}
.trackbar .handle {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -20px;
  right: -23px;
  /*background:url(img/drag.png) no-repeat center;*/
  /*background-size: 23px 24px;*/
}
.trackbar .handle:after {
  content: '';
  position: absolute;
  left: 6px;
  top: 5px;
  width: 15px;
  height: 15px;
  background: #F3F5F7;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  border-radius: 100%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  top: 50%;
  left: 50%;
  margin-left: -7px;
  margin-top: -7px;
}
/* 视频时间 */
.player .time em {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  -webkit-border-radius: 15px;
  border-radius: 14px;
  border: 2px solid #fff;
  position: relative;
  top: 2.5px;
}
.player .time em:before {
  content: "";
  display: block;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 2px;
  height: 4px;
  position: absolute;
  left: 5px;
  top: 1px;
}
.player .time {
  font-size: 10px !important;
  line-height: 13px;
  position: absolute;
  right: 56px;
  bottom: 3px;
  color: #5f6164;
  font-weight: bold;
}
.slider_bar .time b {
  color: #b0aeae;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes webkit-loading {
  0% {
    -webkit-transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.player_loading {
  width: 30px;
  height: 30px;
  background: url(http://static.xiaojukeji.com/pinche/release/component_modules/didi-component-ddplayer/css_player/img/loading_7393dec.png) 0 0 no-repeat;
  background-size: 100%;
  animation: loading 1.2s infinite linear;
  -webkit-animation: webkit-loading 1.2s infinite linear;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px -15px;
  z-index: 10;
}
.player_loading_notice {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #7E7E7E;
  font-size: 14px;
  margin: 22px -61px;
}

/**
 * 消息提示层
 */
.player .message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #3B3C40;
}
.player .inner_msg {
  position: absolute;
  width: 70%;
  min-height: 70px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  max-width: 500px;
}
.player .msg_cont {
  padding: 25px 10px;
  text-align: center;
  color: #FFF;
}
.player .msg_cont .msg {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
}
.player .msg_btns {
  text-align: center;
  margin-bottom: 25px;
}
.player .msg_btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 80px;
  color: #FFF;
  background: #7C7C7C;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}
.player .msg_btn:only-child {
  width: 70%;
  min-width: 80px;
  max-width: 250px;
  background: #CF3232;
}
.player .msg_btn_b {
  background: #CF3232;
}

/**
 * 播放器 视频tilte
 */
/* video 标题 */
.player .video_title {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  color: #FFF;
  /*text-align: center;*/
  top: 0px;
  transition: top 1s;
  -moz-transition: top 1s;
  -webkit-transition: top 1s;
  /*background:rgba(26, 26, 26, 0.75);*/
  font-family: microsoft yahei;
}
.player .video_title.hide {
  top: -30px;
  transition: top 1s;
  -moz-transition: top 1s;
  -webkit-transition: top 1s;
}
.player .title_content {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  padding: 3px 10px;
  background-color: #373435;
  opacity: 0.9;
  display: none;
}



* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background-color: #fe5d40;
  overflow: hidden;
}
#main {
  max-width: 750px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 4.6%;
  max-width: 662px;
}
.top_bg {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.tv_wrap {
  width: 100%;
  position: absolute;
  bottom: 14.2%;
  left: 0;
}
.tv_bg {
  position: relative;
  z-index: 2;
  width: 96%;
  left: 2%;
  pointer-events: none;
}
#playerWrap {
  width: 100%;
  height: 100%;
  position: absolute;
}
.middle_video {
  width: 80.4%;
  height: 71.54%;
  position: absolute;
  left: 7.03%;
  top: 14.28%;
  background-color: #000;
}
.power_get {
  position: absolute;
  opacity: .8;
  width: 48%;
  height: 18.38%;
  bottom: 4%;
  left: 26%;
  background-image: url(http://static.xiaojukeji.com/pinche/release/page/fellow/images/get_39077b2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 5px;
}
.player {
  background: url(http://static.xiaojukeji.com/pinche/release/page/fellow/images/poster_03696c1.jpg) no-repeat;
  background-size: 100%;
}
/*#btnShare {
    position: absolute;
    left: 50%;
    bottom: 7%;
    width: 35%;
    height: 8.4%;
    margin-left: -17.5%;
    background-color: #fbef63;
    background-image: url(./images/share_text.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    border-radius: 5px;
    display: none;
}*/
/* reset player playbtn style */
.mid .mid_play {
  background-image: none;
  width: 38.49%;
  height: 64.42%;
  top: 10.48%;
  left: 30.76%;
  background-color: rgba(24, 26, 32, 0.57);
  border-radius: 50%;
  margin: 0;
}
.mid .mid_play b {
  width: 43.56%;
  height: 40.1%;
  margin: 0;
  left: 29.95%;
  top: 30.2%;
  background-image: url(http://static.xiaojukeji.com/pinche/release/page/fellow/images/btn_play_873875d.png);
  background-size: 100% auto;
  background-position: 0;
}
/* 手机横屏样式 友好提示 start */
.wrong-layer {
  position: fixed;
  display: none;
  background: #21313e;
  z-index: 99999;
  height: 100%;
  width: 100%;
  top: 0px;
}
.abs-mm {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
}
.abs-mm .placeBlock-20 {
  width: 100%;
  height: 20px;
  display: block;
}
/* end */
#btnShare {
  width: 61.4%;
  position: absolute;
  bottom: 3.3%;
  left: 19.3%;
  display: none;
}
#btnShare img {
  width: 100%;
}
