@charset "UTF-8";
*{;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html,body{font-family:"黑体"}
body img{width:100%}
.didi-bg-f0f0f0{background-color:#f0f0f0}
.didi-article{width:86%;margin:0 auto;padding-bottom:25px;background-color:rgba(255,255,255,.7);border-radius:5px;border:1px solid #ebebeb;position:absolute;bottom:8%;left:50%;margin-left:-43%}
.didi-ticket{width:70%;margin:0 auto;position:relative}
.didi-ticket-text{position:absolute;left:50%;top:50%;margin-left:-69px;margin-top:-20px}
.didi-ticket h2{font-size:1.9rem;color:#2996f1;text-align:center;font-weight:400;margin-bottom:4px}
.didi-ticket p{color:#999;font-size:1.2rem;text-align:center}
.didi-prize{margin-top:1.2rem}
.didi-prize p{font-size:1.4rem;text-align:center}
.didi-prize p:first-child{margin-bottom:5px;color:#333}
.didi-prize p:last-child{color:#ff8903}
.didi-btn{width:80%;margin:0 auto;margin-top:2.2rem}
.didi-btn a{color:#fff;text-align:center;font-size:1.6rem}
.didi-btn p{color:#878787;text-align:center;margin-top:10px;font-size:1.2rem}
p.didi-share-text{color:#ff8903;font-size:1.6rem;margin-bottom:15px}
.didi-share-width{width:90%}
.didi-form{width:80%;margin:0 auto;margin-top:20px}
.didi-form input{width:100%;border-radius:5px;padding:11px 8px;border:1px solid #e5e5e5;font-family:"";font-size:1.4rem;color:#333}
.position-re{position:relative}
.didi-page-content{width:100%;margin:0 auto}
.didi-title{margin-top:25px;font-size:1.8rem;color:#666;font-weight:700;text-align:center}
.didi-img{width:80%;margin:0 auto;margin-top:30px}
.didi-page-text{margin-top:6px;text-align:center;font-size:1.4rem;color:#666;line-height:20px}
.didi-page-bottom{position:fixed;bottom:8%;font-size:1.4rem;text-align:center;left:50%;margin-left:-63px}
.didi-page-bottom a{color:#ff8903}
.didi-page-btn{width:100%;color:#ff8903;font-size:1.4rem;text-align:center;margin:40px 0 0}
.didi-page-btn a{display:block;border-radius:50px;width:60%;margin:0 auto;text-align:center;padding:10px 0;border:1px solid #ff8903;color:#ff8903;background:#fff}
.swiper-pagination-bullet-active{background:#ff8903}
.swiper-container-horizontal>.swiper-pagination{margin-bottom:45px}
.didi-page{width:100%;position:absolute;top:37%}
.logo{width:58%;margin:0 auto;padding-top:25px}
.letter-span{letter-spacing:-.5rem}
.wrong-layer{display:none;background:#21313e;z-index:1000}
.fullLayer{width:100%;height:100%}
.abs-mm{position:absolute;left:50%;top:50%;text-align:center;-webkit-transform:translate(-50%,-50%)}
.abs-mm .placeBlock-20{width:100%;height:20px;display:block}
@media all and (orientation:portrait){.wrong-layer{display:none}
.swiper-container{display:block}}
@media all and (orientation:landscape){.wrong-layer{display:block}
.swiper-container{display:none}}
@media screen and (max-width:321px){p.didi-share-text{font-size:1.4rem}
.didi-share-width{width:95%}}
@media screen and (max-height:499px){.logo{padding-top:20px;width:46%}
.didi-img{width:65%;margin-top:10px}
.swiper-container-horizontal>.swiper-pagination{margin-bottom:40px}
.didi-title{margin-top:10px;font-size:1.6rem}
.didi-page-btn{margin-top:30px}
.didi-btn{margin-top:1.1rem}
.didi-article{min-height:260px}
.didi-share-width{margin-top:1.75rem}
.didi-article{position:absolute;left:50%;margin-left:-43%;bottom:5%}}
@media screen and (min-height:500px) and (max-height:555px){.didi-page-content{width:90%}
.didi-img{width:80%;margin-top:15px}
.didi-page-text{letter-spacing:-.5px}
.didi-title{margin-top:20px;font-size:1.6rem}
.logo{padding-top:20px;width:65%}
.didi-page-btn{margin-top:40px}}
@media screen and (min-height:556px)and (max-height:574px){.didi-img{width:75%;margin-top:22px}}
@media screen and (min-height:482px) and (max-height:575px){.didi-article{position:absolute;bottom:8%}}
@media screen and (min-height:640px){.didi-article{position:relative;bottom:8%}}