.one{
    background-image: url('../img/fangtan-0808/1.png');
}
.two{
    background-image: url('../img/fangtan-0808/2.png');
}
.three{
    background-image: url('../img/fangtan-0808/3.png');
}
.four{
    background-image: url('../img/fangtan-0808/4.png');
}
.five{
    background-image: url('../img/fangtan-0808/5.png');
}
.six{
    background-image: url('../img/fangtan-0808/6.jpg');
}
