.one{
    background-image: url('../img/fangtan-0727/1.jpg');
}
.two{
    background-image: url('../img/fangtan-0727/2.jpg');
}
.three{
    background-image: url('../img/fangtan-0727/3.jpg');
}
.four{
    background-image: url('../img/fangtan-0727/4.jpg');
}
.five{
    background-image: url('../img/fangtan-0727/5.jpg');
}
.six{
    background-image: url('../img/fangtan-0727/6.jpg');
}
