.one{
    background-image: url('../img/fangtan-0722/1.jpg');
}
.two{
    background-image: url('../img/fangtan-0722/2.jpg');
}
.three{
    background-image: url('../img/fangtan-0722/3.jpg');
}
.four{
    background-image: url('../img/fangtan-0722/4.jpg');
}
.five{
    background-image: url('../img/fangtan-0722/5.jpg');
}
.six{
    background-image: url('../img/fangtan-0722/6.jpg');
}
.seven{
    background-image: url('../img/fangtan-0722/7.jpg');
}
