.one{
    background-image: url('../img/fangtan-0729/1.png');
}
.two{
    background-image: url('../img/fangtan-0729/2.png');
}
.three{
    background-image: url('../img/fangtan-0729/3.png');
}
.four{
    background-image: url('../img/fangtan-0729/4.png');
}
.five{
    background-image: url('../img/fangtan-0729/5.png');
}
.six{
    background-image: url('../img/fangtan-0729/6.png');
}
