.one{
    background-image: url('../img/fangtan-0715/1.jpg');
}
.two{
    background-image: url('../img/fangtan-0715/2.jpg');
}
.three{
    background-image: url('../img/fangtan-0715/3.jpg');
}
.four{
    background-image: url('../img/fangtan-0715/4.jpg');
}
.five{
    background-image: url('../img/fangtan-0715/5.jpg');
}
